<style>
    .settingsMain{
        position: relative;
        width: 100%;
        height: 100%;
        /*padding: 10px;*/
        display: flex;
        flex-direction: row;
    }
    .settingsMenu{
        min-width: 100px;
        height: 100%;
        padding: 5px;
        border-right: 1px solid @Theme.Accent;
    }
    .settingsMenuBtn{
        height: 30px;
        width: 100%;
    }
    .settingsMenuBtn:hover{
        border: 2px solid @Theme.Accent;
        border-radius: 5px;
    }
    .settingsBody{
        flex-grow: 1;
        height: 100%;
    }
    
    .confMain{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .confHeader{
        width: 100%;
        padding-left: 10px;
        border-bottom: 1px solid @Theme.Accent;
        font-size: 32px;
    }
</style>

<div class="settingsMain">
    <div class="settingsMenu">
        <div class="settingsMenuBtn" @onclick="() => ChangeView(start)">
            Home
        </div>
        @foreach (var cat in categories)
        {
            <div class="settingsMenuBtn" @onclick="() => ChangeView(cat.View)">@cat.Name</div>
        }
    </div>
    <div class="settingsBody">
        <DynamicComponent Type="app"/>
    </div>
</div>

@code {
    Type app;
    CatBtn[] categories;
    string start = "welcome";

    protected override void OnInitialized()
    {
        ChangeView(start);
        categories = new[]
        {
            new CatBtn()
            {
                Name = "Theme",
                View = "ThemeConf"
            },
            new CatBtn()
            {
                Name = "Colors",
                View = "ColorConf"
            },
            new CatBtn()
            {
                Name = "Window",
                View = "WinConf"
            },
            new CatBtn()
            {
                Name = "Desktop",
                View = "DeskConf"
            },
            new CatBtn()
            {
                Name = "Fun",
                View = "EffectsConf"
            }
        };
    }

    void ChangeView(string view)
    {
        app = WM.GetApp(view);
        // StateHasChanged();
    }

    class CatBtn
    {
        public string Name { get; set; }
        public string View { get; set; }
    }

}