@using DesktopMode.Models.Error
<style>
    .landingBtn{
        position: relative;
        border-radius: 50%;
        overflow-wrap: break-word;
        width: 100%;
        /*font-size: 10px;*/
        /*background-color: #41464b;*/
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }
    .landingBtnBodyBlur{
        position: absolute;
        width: 100%;
        border-radius: 50%;
        aspect-ratio: 1;
    }
    .landingBtnBodyBG{
        position: absolute;
        width: 100%;
        border-radius: 50%;
        aspect-ratio: 1;
    }
    .landingBtn:hover{
        .landingBtnBodyBlur{
            @Theme.Blur(10)
        }
        .landingBtnBodyBG{
            opacity: 0.1;
            border: 1px solid white;
        }
    }
    .landingBtnContent{
        position: relative;
        width: 100%;
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
    }
    .landingBtnBody{
        position: relative;
        width: 50%;
        border-radius: 50%;
        aspect-ratio: 1;
        text-align: center;
        /*background-color: white;*/
    }
    .landingBtnIcon{
        position: relative;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .landingBtnBlur{
        position: absolute;
        width: 100%;
        border-radius: 50%;
        margin: 0 auto;
        aspect-ratio: 1;
        @Theme.Blur(10)
    }
    .landingBtnBG{
        position: absolute;
        width: 100%;
        border-radius: 50%;
        margin: 0 auto;
        aspect-ratio: 1;
        background-color: white;
        opacity: 90%;
    }
    .landingImg{
        width: 50%;
        margin: auto;
        border-radius: 50%;
        aspect-ratio: 1;
    }
</style>

<div class="landingBtn">
    <div class="landingBtnContent">
        <div class="landingBtnBodyBlur"></div>
        <div class="landingBtnBodyBG"></div>
        <div class="landingBtnBody">
            @* <a href="@app.Name"> *@
            @* <div class="landingBtnBlur"></div> *@
            <div class="landingBtnBG"></div>
            <div class="landingBtnIcon" @onclick="Click">
                <div class="landingImg">
                    <img src="@app.Icon"/>
                </div>
            </div>
            @* </a> *@
            <div style="position: absolute; margin:auto; display: flex; justify-content: center; align-items: center; text-align: center; width: 100%; font-size: 75%;">
                @app.Name
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public DesktopWindow app { get; set; }

    NavigationManager nav;

    void Click()
    {
        try
        {
            if (app.Type != DesktopWindow.WinType.Popup)
            {
                WM.LaunchApp(app);
            }
            else
                nav.NavigateTo($"/{app.Name}");
        }
        catch (Exception e)
        {
            ErrorManager.NewError($"Failed to open {app.Name}", e, 1);
            Console.WriteLine($"{e.Message}\n{e}");
        }
    }

}