<style>
    .landingMain{
        width: 100%;
        height: 100%;
        overscroll-behavior: contain;
        overflow: hidden;
    }
    .landingBody{
        /*position: relative;*/
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        color: white;
        user-select: none;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
    }
    .wallpaper {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
        @Theme.Background(Theme.DesktopBackground, false)
    }
    .landingTop{
        width: 100%;
        /*background-color: black;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    .landingTopLeft{
        text-align: left;
        width: 33%;
    }
    .landingTopCenter{
        text-align: center;
        align-self: center;
        width: 33%;
    }
    .landingTopRight{
        text-align: right;
        width: 33%;
    }
    .landingWidgets{
        width: 100%;
        min-height: 100vh;
        /*min-height: 75vh;*/
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        /*padding: 25px;*/
        padding-bottom: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .landingQuickSet{
        max-width: 80%;
        height: 70%;
        border-radius: 33px;
        overflow: hidden;
    }
    .landingTitle{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 10px;
    }
    .landingTitleBG{
        background-color: black;
        opacity: 0.1;
        position: absolute;
        width: 360px;
        height: 90%;
        border-radius: 28px;
    }
    .landingTitleBlur{
        position: absolute;
        width: 360px;
        height: 90%;
        border-radius: 28px;
        @Theme.Blur(10);
    }
    .landingTitleText{
        position: relative;
            background-color: white;
            /*outline: #272727 thick solid;*/
            border: white 10px solid;
            color: black;
            font-size: 40px;
            font-weight: bold;
            /*width: 100%;*/
            border-radius: 25px;
            text-align: center;
            mix-blend-mode: screen;
            @Theme.Blur(400);
    }
    .landingContent{
        overflow: auto;
        /*margin-bottom: 170px;*/
        flex-grow: 1;
        overscroll-behavior: contain;
    }
    .landingChoices{
        /*padding-top: 15%;*/
        /*padding-bottom: 15%;*/
        display: flex;
        flex-wrap: wrap;
        /*flex-direction: row;*/
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        column-gap: 25px;
        row-gap: 35px;
        text-align: center;
        overscroll-behavior: contain;
        /*overscroll-behavior: auto;*/
        /*margin-bottom: 185px;*/
        /*flex-grow: 1;*/
        /*overflow: auto;*/
        /*margin-bottom: 125px;*/
    }
    .landingImg img{
        max-width: 100%;
        max-height: 100%;
    }
    /*.landingBtn:hover{*/
    /*    !*border: #6610f2 2px solid;*!*/
    /*    border-top: #6610f2 2px solid;*/
    /*    border-bottom: black 2px solid;*/
    /*}*/
</style>

<div class="landingMain">
    <div class="wallpaper">
        <img src="@Theme.Wallpaper" style="height:fit-content; width: fit-content;"/>
    </div>
    <div class="landingBody">
        <div class="landingTop">
            <div class="landingTopLeft">
                MobileMode
            </div>
            <div class="landingTopCenter" @onclick="OpenCal">
                <Clock/>
            </div>
            <div class="landingTopRight">
                BlazeDroid
            </div>
        </div>
        <div class="landingContent">
            <div class="landingWidgets">
                @foreach (var error in ErrorManager.Errors)
                {
                    @* <Widget Title="@error.Message" Text="@error.Error.ToString()" Color="red"/> *@
                    <Widget Error="error"/>
                }
                @if (ErrorManager.Errors.Count > 0)
                {
                    <div @onclick="CloseErrors" style="margin-left: 100px;margin-right: 100px;">
                        <Widget Text="Close Errors" Border="white"/>
                    </div>
                }
                @if (calendar)
                {
                    <div class="landingQuickSet" style="">
                        <Widget/>
                    </div>
                }
                @* <About/> *@
                @* <Window win="@dWin" position="position:relative;"/> *@
                <div class="landingTitle" @onclick="ShowPinpad">
                    <div class="landingTitleBlur"></div>
                    <div class="landingTitleBG"></div>
                    <div class="landingTitleText">WIHASPACE.NET</div>
                </div>
                @foreach (var win in WM.ActiveWindows().Where(w => w.Name != "blazeos"))
                {
                    <Widget Applet="win"/>
                }

            </div>
            <div class="landingChoices">
                @foreach (var app in apps.Where(a => a.Name != "pinpad" && a.Type != DesktopWindow.WinType.About))
                {
                    <div style="width: 135px;">
                        <AppButton app="app"/>
                    </div>
                }
            </div>
        </div>
        @* <div class="landingBar"> *@
        @*     <div class="landingBarBlur"> *@
        @*     </div> *@
        @*     <div class="landingBarBody"> *@
        @*         <div class="landingBarContent"> *@
        @*             @foreach (var app in apps.Where(a => a.Type == DesktopWindow.WinType.Widget)) *@
        @*             { *@
        @*                 <AppButton app="app"/> *@
        @*             } *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@
    </div>
</div>

@code {
    [Parameter] public DesktopWindow? Win { get; set; }

    List<DesktopWindow> widgets = new();
    List<DesktopWindow> apps = new();

    NavigationManager nav;
    bool calendar;

    string time = "";

    DesktopWindow dWin;

    protected override async void OnInitialized()
    {
        if (Win is null)
        {
            Theme.FG = "white";
            Console.WriteLine(Theme.Foreground(Theme.FG));
            // Theme.Wallpaper = Theme.Wallpapers[2];
        }

        Console.WriteLine(WM.ActiveWindows().Count);

        if (WM.Windows.Count < 1)
        {
            WM.GetApps();
        }

        GetApps();

        await Clock();
    }

    void GetApps()
    {
        foreach (var win in WM.Windows.Where(w => w.Type != DesktopWindow.WinType.Popup && w.Name != "blazeos"))
        {
            DesktopWindow app = win;
            app.App = WM.GetApp(win.Name);
            if (app.App != null)
            {
                apps.Add(app);
            }
        }
    }

    void OpenLink(string url)
    {
        nav.NavigateTo(url);
    }

    void OpenCal()
    {
        calendar = !calendar;
    }

    void CloseErrors()
    {
        ErrorManager.Errors.Clear();
    }

    void OpenWidget(DesktopWindow app)
    {
        widgets.Add(app);
    }

    void ShowPinpad()
    {
        WM.LaunchApp(apps.Where(a => a.Name == "pinpad").FirstOrDefault());
    }

    void FillWidgets()
    {
        Console.WriteLine(WM.ActiveWindows().Count);
        if (WM.ActiveWindows().Count > 0)
        {
            WM.ActiveWindows().First().IsActive = false;
            Console.WriteLine($"Destroy {WM.ActiveWindows()[0].Name}");
            WM.ActiveWindows().Remove(WM.ActiveWindows()[0]);
        }
        else
        {
            Console.WriteLine("Create");
            dWin = new DesktopWindow()
            {
                Name = "about",
                Width = 550,
                Height = 250,
                Type = DesktopWindow.WinType.About,
                Icon = $"assets/aboutme.png",
                Static = true,
                IsActive = true
            };
            DesktopWindow wWin = new DesktopWindow()
            {
                Name = "weather",
                Width = 270,
                Height = 360,
                Icon = $"assets/aboutme.png",
                Type = DesktopWindow.WinType.App,
                Static = true
            };
            WM.LaunchApp(dWin);
            // WM.LaunchApp(wWin);
        }

        StateHasChanged();
    }

    async Task Clock()
    {
        while (true)
        {
            time = DateTime.Now.ToString("HH:mm:ss");
            await Task.Delay(10);
            StateHasChanged();
        }
    }

}