<style>
    .launcherBody {
        width: 500px;
        height: 400px;
        position: absolute;
        bottom:5%;
        border-radius: 20px;
        overflow: hidden;
    }

    .launcherBackground {
        position: absolute;
        width: 100%;
        height: 100%;
        /*background-color: navy;*/
        @Theme.Background(Theme.Accent, false)
        /*opacity: 0.2;*/
        @Theme.Opacity(Theme.TaskOp)
        /*filter: blur(2px);*/
        backdrop-filter:blur(8px);
    }
    .launcherBlur {
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter:blur(8px);
    }

    .sidepanel {
        position: absolute;
        left: 0;
        top: 0;
        width: 20%;
        height: 100%;
        padding-top: 25px;
    }

    .typeBtn {
        height: 10%;
        /*color: white;*/
        @Theme.Foreground(Theme.FG)
        text-align: right;
        padding: 5%;
        /*font-size: 0.8vw;*/
    }

        .typeBtn:hover {
            border: solid 1px darkgray;
        }

    .appGrid {
        position: absolute;
        width: 80%;
        height: 100%;
        padding: 5px;
        margin-left: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        overflow: auto;
    }
     
     .launcher{
        position: relative;
        aspect-ratio: 1;
        max-height: 100%;
        max-width: 100%;
        border-radius: 10px;
        padding: 5px;
     }
     .launchIcon{
        max-height: 100%; max-width: 100%; object-fit: contain; border-radius: 10px;
     }
     .launchIcon:hover{
        border: white 2px solid;
     }
</style>

<div class="launcher">
    <img src="assets/blazor.png" class="launchIcon" style=" " @onclick="ShowLauncher"/>
    @if (showLauncher)
    {
        <div style="background-color: #0f5132; position: absolute; @launchPos">
            
            <div class="launcherBody">
                <div class="launcherBackground">
                </div>
                <div class="launcherBlur">
                </div>
                <div class="sidepanel">
                    <div class="typeBtn" @onmouseover="AllApps">
                        <p>All Apps</p>
                    </div>
                    @foreach (var type in dm.WinTypes)
                    {
                        <div class="typeBtn" @onmouseover="(e => FilterApps(type))">
                            <p>@type</p>
                        </div>
                    }
                </div>
                <div class="appGrid">
                    @foreach (DesktopWindow app in windows)
                    {
                        // if (WM.GetApp(app.Name) == null)
                        if (WM.GetApp(app.Name) != null && app.Type.ToString().ToLower() != "popup" && app.Name != "CV")
                        {
                            <div style="flex-basis: 24%;aspect-ratio: 1;">
                                <AppButton app="app"/>
                            </div>
                            @* <div class="app" @onclick="(e => LaunchApp(app))"> *@
                            @*     <div style="position:absolute; width: 100%; height: 100%; background-color:@bg; opacity:0.2;"></div> *@
                            @*     <img src="@app.Icon" class="center" /> *@
                            @*     <div class="appTitle"> *@
                            @*         $1$<div class="textPart">#1# *@
                            @*         <div>@app.Name</div> *@
                            @*         $1$</div>#1# *@
                            @*     </div> *@
                            @* </div> *@
                        }
                    }
                </div>
            </div>
            
        </div>
    }
</div>

@code {
    [Parameter]
    public string launchPos { get; set; }

    bool showLauncher;
    
    DesktopManager dm;

    private List<DesktopWindow> windows = new List<DesktopWindow>();

    void FilterApps(string type)
    {
        windows = WM.Windows.Where(w => w.Type.ToString() == type).ToList();
        //if (windows.Count == 1)
        //    windows.Add(new DesktopWindow() { Name = "null" });
    }

    void ShowLauncher()
    {
        // WM.DM.Launcher.Show = !WM.DM.Launcher.Show;
        showLauncher = !showLauncher;
        // WM.PropChanged(Pan);
    }

    void AllApps()
    {
        windows = WM.Windows.ToList();
    }

    // void LaunchApp(DesktopWindow app)
    // {
    //     WM.LaunchApp(app);
    //     WM.PropChanged(app);
    // }

    protected override void OnInitialized()
    {
        // FilterApps("All");
        dm = WM.DM;
        AllApps();
    }

}