﻿<style>
    .panelMain{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 50;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .panelBody{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .panelBody:hover{
        bottom: 0;
    }
    .panelBlur{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        @Theme.Blur(10)
    }
    .panelBG{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        opacity: 0.5;
        @Theme.Background(Theme.Accent, false)
    }
    .panelContent{
        /*position: relative;*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
    }
    /*.launcher Img:hover{*/
    /*    border: white 2px solid;*/
    /*}*/
     .child{
        position: relative;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        height: 100%;
        flex-basis: 33%;
        display: flex;
        align-items: center;
        
     }
     
     /*.launcher{*/
     /*   position: relative;*/
     /*   aspect-ratio: 1;*/
     /*   max-height: 100%;*/
     /*   max-width: 100%;*/
     /*   border-radius: 10px;*/
     /*   padding: 5px;*/
     /*}*/
     
     /*.panelConfMain{*/
     /*   position: absolute;*/
     /*   !*height: 200%;*!*/
     /*   width: 100%;*/
     /*   min-width: 225px;*/
     /*   border-radius: 15px;*/
     /*   overflow: auto;*/
     /*}*/
     /*.panelConf{*/
     /*   position: relative;*/
     /*   width: 100%;*/
     /*   display: flex;*/
     /*   justify-content: space-between;*/
     /*   align-items: center;*/
     /*   flex-wrap: wrap;*/
     /*   gap: 15px;*/
     /*   padding: 15px;*/
     /*}*/
     /*.panelConfBG{*/
     /*   position: absolute; */
     /*   width: 100%; */
     /*   height: 100%;*/
     /*   opacity: 0.5;*/
     /*}*/
     /*.panelConfBlur{*/
     /*   position: absolute; */
     /*   width: 100%; */
     /*   height: 100%;*/
     /*}*/
    .triggerZone{
        height: 33%;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        @Theme.TestBorder
    }
</style>
@{
    string launchPos = "bottom:105%;";
    // string launchPos = "top:-25px;";
    string confPos = "bottom:105%;";
    string dir = "flex-direction:column;";
    string pos = "";
    if (Pan.DockPos.Contains("top"))
    {
        dir = "flex-direction:column-reverse;";
        launchPos = "top:calc(105% + 400px);";
        // launchPos = "bottom:-425px;";
        confPos = "top:105%;";
    }

    if (Pan.Side)
    {
        if (Pan.DockPos.Contains("right"))
        {
            launchPos = "top:calc(100% + 350px);right:calc(105% + 500px);";
            // launchPos = "bottom:-350px;left:-525px";
            confPos = "right:105%;";
            // confPos = "left:-225px;";
            // confPos = "margin-top:0;margin-bottom:0;left:-225px;";
        }

        if (Pan.DockPos.Contains("left"))
        {
            launchPos = "top:calc(105% + 350px);left:105%;";
            // launchPos = "bottom:-350px;right:-25px;";
            confPos = "left:105%;";
            // confPos = "right:-225px;";
        }
    }

    if (Pan.AutoHide)
    {
        
    }
}
<div class="panelBase" style="@Pan.Dock()">
@* <div class="triggerZone" @onmouseenter="ShowPanel"></div> *@
    <div class="panelMain" @oncontextmenu="Settings" @oncontextmenu:preventDefault="true">
        @if (showConf)
        {
            launchPos = launchPos.Replace("105%", "calc(105% + 167px)");
            <PanelConf Direction="@dir" Offset="@confPos" Pan="Pan"/>
        }
        <div class="panelBody" style="@height">
            <div class="panelBlur"></div>
            <div class="panelBG"></div>
            <div class="panelContent" style="@Pan.Flex">
                @* <div class="panLaunch"> *@
                <div class="child" style="@Pan.Flex justify-content: flex-start;">
                    <Launchpad launchPos="@launchPos"/>
                </div>
                <div class="child" style="@Pan.Flex justify-content: center;">
                    <Taskbar Pan="Pan"/>
                </div>
                @* </div> *@
                @* <div class="widgets"> *@
                <div class="child" style="@Pan.Flex justify-content: flex-end;">
                    <Clock/>
                </div>
                @* </div> *@
            </div>
        </div>
    </div>
</div>

@* <style> *@
@*     .panelBody { *@
@*         @Pan.Position() *@
@*     } *@
@*     .panelBG{ *@
@*         @Pan.Position() *@
@*         @Theme.Background(Theme.Accent, false) *@
@*         @Theme.Blur(Theme.HeaderBlur) *@
@*     } *@
@* .launcher{ *@
@*     height:100%; *@
@*     aspect-ratio:1; *@
@* } *@
@* .launcher img{ *@
@*     height:100%; *@
@* } *@
@*     .taskBar{ *@
@*         margin-inline:auto; *@
@*         height:100%; *@
@*         width:500px; *@
@*         left:33%; *@
@*     } *@
@* </style> *@
@* *@
@* <div class="panelBody"> *@
@*     <div class="panelBG"></div> *@
@*     <div class="panelContent"> *@
@*         <div class="launcher"> *@
@*             <img @onclick="ShowLauncher" src="assets/blazor.png" /> *@
@*         </div> *@
@*         <div class="taskBar"> *@
@*             <Taskbar dm="WM.DM"/> *@
@*         </div> *@
@*         <div class="widgets"> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

@code {
    [Parameter] public PanelModel Pan { get; set; }
    // bool showLauncher;
    bool showConf;
    string height = "bottom:0;";
    bool cancel;

    // protected override void OnInitialized()
    // {
    //     HidePanel();
    // }
    //
    // async void HidePanel()
    // {
    //     if (WM.AutoHide)
    //     {
    //         await Animate();
    //     }
    // }
    //
    // async Task Animate()
    // {
    //     for (int i = 0; i > -105; i--)
    //     {
    //         height = $"bottom:{i}%;";
    //         await Task.Delay(1);
    //         StateHasChanged();
    //     }
    // }
    //
    // void ShowPanel()
    // {
    //     height = "bottom:0;";
    // }
    

    // void ShowLauncher()
    // {
    //     // WM.DM.Launcher.Show = !WM.DM.Launcher.Show;
    //     showLauncher = !showLauncher;
    //     // WM.PropChanged(Pan);
    // }

    void Settings()
    {
        showConf = !showConf;

        // DesktopWindow app = WM.Windows.Where(a => a.Name == "panelsettings").FirstOrDefault();
        // app.App = WM.GetApp("panelsettings");
        // app.Parameters = new Dictionary<string, object>
        // {
        //     ["Panel"] = Pan
        // };
        // WM.LaunchApp(app);
    }

}