<style>
    .panelConfMain{
        position: absolute;
        /*height: 200%;*/
        width: 100%;
        min-width: 225px;
        border-radius: 15px;
        overflow: auto;
     }
     .panelConf{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        padding: 15px;
     }
     .panelConfBG{
        position: absolute; 
        width: 100%; 
        height: 100%;
        opacity: 0.5;
        @Theme.Background(Theme.Accent, false)
     }
     .panelConfBlur{
        position: absolute; 
        width: 100%; 
        height: 100%;
        @Theme.Blur(80)
     }
     
     .delPan{
        width: 100%;
        border-radius: 15px;
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 2px;
        /*border: 2px black solid;*/
        /*background-color: #191c1f;*/
        color: slategray;
        border: 2px solid transparent;
     }
     .delPan:hover{
        color: white;
        border: 2px solid #41464b;
        background-color: darkred;
     }
</style>

<div class="panelConfMain" style="@Offset">
    <div class="panelConfBlur"></div>
    <div class="panelConfBG"></div>
    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: flex-start; @Direction padding: 5px;">
        <div style="width: 100%; display: flex; justify-content: center;">
            <div class="delPan" @onclick="Delete">
                Delete panel
            </div>
        </div>
        <div class="panelConf" style="@Pan.Flex">
            <div>
                <div>Float: <input type="checkbox" @bind="Pan.Float"/></div>
                <div>Side: <input type="checkbox" @bind="Pan.Side"/></div>
                @* <div>Hide: <input type="checkbox" @bind="Pan.AutoHide"/></div> *@
            </div>
            <div style="flex-direction: column; display: flex;">
                <div>Height: @Pan.Height</div>
                <input type="range" max="150" min="40" style="" @bind="@Pan.Height"/>
            </div>
            <div>
                Dock:
                <select @bind="Pan.DockPos">
                    @foreach (PanelDock dock in Theme.DockPositions)
                    {
                        <option value="@dock.Value">@dock.Name</option>
                    }
                </select>
            </div>
        </div>
        <div style="@Direction display: flex; width: 100%; position: relative; text-align: center;">
            <div style="width: 100%; display: flex;flex-direction: row;justify-content: center;">
                <span>33</span><span style="flex-grow: 1;">Width: @Pan.Width%</span><span>100</span>
            </div>
            <input type="range" max="100" min="33" @bind="@Pan.Width"/>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Offset { get; set; }
    [Parameter] public string Direction { get; set; }
    [Parameter] public PanelModel Pan { get; set; }

    void Delete()
    {
        WM.DM.Panels.Remove(Pan);
        WM.PropChanged(Pan);
    }
}