﻿<style>
    .taskBarBody {
        max-height: 100%;
        /*aspect-ratio: 1;*/
        /*width: 500px;*/
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /*overflow: hidden;*/
    }

    .winTask {
        position: relative;
        aspect-ratio: 1;
        max-height: 100%;
        max-width: 100%;
        border-radius: 10px;
        padding: 5px;
        /*aspect-ratio: 1;*/
        /*height: 100%;*/
        /*max-width: 100%;*/
        /*max-height: 100%;*/
        /*display: flex;*/
        /*flex-direction: column-reverse;*/
        /*justify-content: center;*/
        /*flex-wrap:nowrap;*/
        /*align-items: center;*/
    }
    .winItem{
        position: relative;
        object-fit: contain;
        margin-inline:2px;
        max-height: 100%;
        /*height:100%;*/
        /*max-height: 100%;*/
        /*max-width: 100%;*/
        aspect-ratio: 1;
        border-top: 2px blue solid;
    }
    .winTBG {
        height: 100%;
        aspect-ratio:1;
        position:absolute;
        border: 2px @Theme.Accent solid;
    }

    .winItem:hover{ 
        .winTBG {
            background-color: @Theme.DesktopBackground;
            opacity:0.4;
        }
        .winPeek{
            /*height: 230px;*/
            display: flex;
        }
    }
    
    .winPeek{
        position: absolute;
        display: none;
        width: 200px;
        aspect-ratio: 1;
        /*height: 230px;*/
        /*max-height: 400px;*/
        padding: 10px;
        bottom: 105%;
        border: #191c1f 2px solid;
        overflow: hidden;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        @Theme.Background(Theme.BG, false)
    }
</style>

<div class="taskBarBody" style="@Pan.Flex">
    @* @foreach(var win in WM.ActiveWindows().GroupBy(w => w.Icon).ToList()) *@
    @foreach(var win in WM.ActiveWindows().ToList())
    {
        @*string ico = WM.ActiveWindows.Where(a => a.Name == win.Key).FirstOrDefault().Icon;*@
        <div class="winItem" >
            @* <div class="winTBG"> *@
            @*     @if (win.Count() > 1) { <div style="">+</div> } *@
            @* </div> *@
            <div class="winTask">
                <img src="@win.Icon" style="max-height: 100%; max-width: 100%; width: 320px; object-fit: cover; border-radius: 10px;"/>
                @* <img src="@win.Key" style="max-height: 100%; max-width: 100%; object-fit: contain; border-radius: 10px;"/> *@
                @* <img src="@win.Key" style="height: 80%; max-height: 80%; width: 80%; min-height: 512px; object-fit: contain; aspect-ratio: 1; @Theme.TestBorder"/> *@
            </div>
            <div class="winPeek">
                <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
                    <div>@win.Name</div>
                    <div style="border: 1px solid black;">X</div>
                </div>
                <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center; width: 100%; padding: 20%;">
                    <img src="@win.Icon" style="max-height: 100%; max-width: 100%; width: 320px; object-fit: cover; border-radius: 10px;"/>
                </div>
                @* <DynamicComponent Parameters="win.Parameters" Type="win.App"/> *@
            </div>
        </div>
    }
</div>
@code {
    [Parameter]
    public PanelModel Pan { get; set; }

    string size = "";

    protected override void OnInitialized()
    {
        size = $"height:{Pan.Height -5}px; aspect-ratio:1;";
    }

    public void UpdateMe(){
        StateHasChanged();
    }
    void Mini(string key)
    {
        MiniEx(key, true);
    }
    void Expand(string key)
    {
        MiniEx(key, false);
    }
    void MiniEx(string key, bool val){
        foreach (DesktopWindow win in WM.ActiveWindows().Where(w => w.Icon == key).ToList())
        {
            win.IsMinimized = val;
            WM.PropChanged(win);
        }
    }
}
