<style>
    .terminalMain{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .terminalBody{
        flex-grow: 1;
    }
    input{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #86b7fe dashed 1px;
        color: white;
        background-color: transparent; 
    }
    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }
</style>
<div class="terminalMain">
    @foreach (Block block in history)
    {
        <div style="">
            <div>$ @block.Command</div>
            <pre class="terminalBody">
            @block.Output
            </pre>
        </div>
    }
    <div>
        <p>
            $<input type="text" @bind="command" style="min-width: auto;"/><button @onclick="Run">Send</button>
        </p>
    </div>
</div>
@inject HttpClient http
@code {
    string output = "Something here";
    string command = "";
    List<Block> history = new();

    async void Run()
    {
        try
        {
            Block block = new Block();
            string[] cmd = command.Split(" ");
            string cout = command;
            if (cmd.Length > 1)
                cout = $"{cmd[0]}&arg={cmd[1]}";
            // HttpClient http = new();
            // var request = new HttpRequestMessage(HttpMethod.Get, $"http://10.0.0.3:4200/bash?cmd={cout}");
            // request.Headers.Add("Access-Control-Allow-Origin", "http://10.0.0.3:/4200");
            // output = await http.GetStringAsync($"http://127.0.0.1:5092/bash?cmd={cout}");
            block.Command = command;
            block.Output = await http.GetStringAsync($"http://10.0.0.3:4200/bash?cmd={cout}");
            history.Add(block);
            command = "";
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }

        Console.WriteLine(output);
    }

    class Block
    {
        public string Command { get; set; }
        public string Output { get; set; }
    }

}

