﻿@page "/blazybird"
@using DesktopMode.Components.Apps.BlazyBird.Models
<style>
    .blazyBird{
        width:100%;
        height:100%;
        left: 0;
        position: relative;
    }

    .control-panel {
        margin-bottom: 50px;
    }

    .sky {
        background-color: lightblue;
        width:100%;
        height:80%;
        position: absolute;
        overflow:hidden;
    }

    .ground {
        background-color:forestgreen;
        position:absolute;
        width:100%;
        height:15%;
        bottom:0;
    }

    .bird {
        @Conf.Width(Conf.BirdSize)
        @Conf.Height(Conf.BirdSize)
        @Conf.Left(Conf.BirdLeft)
        position: absolute;
    }

    .obstacle {
        @Conf.Width(Conf.ObsWidth)
        @Conf.Height(Conf.ObsHeight)
        position: absolute;
    }

    .backimg{
        @Conf.Width(Conf.ImgWidth)
        @Conf.Height(Conf.ImgHeight)
        @Conf.MarginLeft(Conf.ImgMargLeft)
        @Conf.MarginTop(Conf.ImgMargTop)
    }

    .topPipe {
        @Conf.Width(Conf.TopWidth)
        background-color: green;
        position: absolute;
    }
    .botPipe {
        @Conf.Width(Conf.BotWidth)
        background-color: green;
        position: absolute;
    }
</style>

<div class="blazyBird">
    <h3>@gameManager.Text</h3>
    <div class="sky">
        @foreach (ObstacleModel play in gameManager.Obs)
        {
            string pCss = $"left: {play.Position}px;";
            string oCss = $"left: {play.Position}px;";
            string top = $"top: {play.TopPipe.Position}px; height: {play.TopPipe.Height}px;";
            string bot = $"bottom: {play.BottomPipe.Position}px; height: {play.BottomPipe.Height}px;";
            <div class="obstacle" style="@oCss">
                <div class="topPipe" style="@top" />
                <div class="botPipe" style="@bot" />
            </div>
        }
        <div class="bird" style="@birdCss">
            @gameManager.Fuel
            <img src="assets/blazor.png" style="@Conf.Width(Conf.BirdSize)" />
        </div>
    </div>
    <div class="ground">

    </div>
    <div @onclick="gameManager.Tap" style="position:absolute; width:100%; height:100%; top:0; left:0;" />
</div>

@code {
    GameManager gameManager;

    [Parameter]
    public DesktopWindow? win { get; set; }

    string birdCss => $"bottom: {gameManager.Bird.Height}px";
    string text => gameManager.Text;

    protected override void OnInitialized()
    {
        gameManager = new GameManager(win);
        gameManager.PropertyChanged += (o, e) => StateHasChanged();
        SetSize();
    }

    void SetSize()
    {
        try
        {
            win.Width = Conf.GameWidth;
            win.Height = Conf.GameHeight;
        }
        catch{}
    }
}