@using DesktopMode.Components.Apps.About.Models
<span class="blue">public class</span> <span class="purple">AboutMe</span>
{
    <span class="blue">public string</span> <span class="lightBlue">Name</span> = <span class="orange">"@manager.About.Name"</span>; <span> @if (manager.About.NameComment != null){<span class="green"> // @manager.About.NameComment</span> }</span>
    <span class="blue">public int</span> <span class="lightBlue">Age</span> = <span class="pink"> @manager.About.Age</span>; <span> @if (manager.About.AgeComment != null){<span class="green"> // @manager.About.AgeComment</span> }</span>
}

@code {
    [Parameter] 
    public AboutManager manager { get; set; }
}