@using DesktopMode.Components.Apps.About.Models
@* <span class="purple">"AboutMe"</span> :  *@
{
    <span class="purple">"name"</span> : <span class="purple">"@Manager.About.Name"</span>,
    <span class="purple">"age"</span> : <span class="green">@Manager.About.Age</span>,
}

@code {

    [Parameter]
    public AboutManager Manager { get; set; }

}