@* @using DesktopMode.Models.AboutMe *@
@page "/about"
@using DesktopMode.Components.Apps.About.Models
<style>
    .aboutBody{
        position: relative;
        width: 100%;
        height: 100%;
        color: white;
        padding: 5px;
        overflow: hidden;
    }
    code{
        display: block;
        white-space: pre;
        height: 100%;
    }
    .preBlock{
        position: relative;
        height: calc(100% - 20px);
    }
    .codeBlock{
        position: relative;
        padding: 5px;
        border: 1px solid slategray;
        user-select: text;
        width: 100%;
        height: calc(100% - 5px);
        overflow: auto;
        @Theme.Background(Theme.BG, false)
        @Theme.Corners()
    }
    
    .blinkBlock{
        @blink
    }
    
    @@keyframes blink {
        50%{
            opacity: 0;
        }
    }
    
    .purple{
        color: #6f42c1;
    }
    .pink{
        color: hotpink;
    }
    
    .green{
        color: #26b050;
    }
    .blue{
        color: dodgerblue;
    }
    .lightBlue{
        color: lightskyblue;
    }
    .orange{
        color: darkorange;
    }
    
    .langBtn{
        position: relative;
        width: 60px;
        height: 25px;
        float: left;
        top: 0;
        background-color: #1c1f23;
        color: white;
        text-align: center;
        border: #2c3034 1px solid;
        border-radius: 5px;
        user-select: none;
    }
    
</style>

<div class="aboutBody">
    <div class="aboutTitle">
        <span>$ whoami <span class="blinkBlock">_</span></span>
    </div>
        <pre class="preBlock">
            <div class="codeBlock">
<div class="langBtn" @onclick="(e => SetLang(json))">json</div><div class="langBtn" @onclick="(e => SetLang(cs))">c#</div><br/><br/>

@switch (Lang)
{
    case "cs":
<AboutCS manager="manager"/>
        break;
    case "json":
<AboutJS Manager="manager"/>
        break;
}
            </div>
        </pre>
</div>

@code {

    [Parameter]
    public DesktopWindow win { get; set; }

    private AboutManager manager;

    private string Lang = "cs";

    private string json = "json";
    private string cs = "cs";
    private string en = "en";

    void SetLang(string lang)
    {
        Lang = lang;
    }

    string blink = $"animation: blink 0.75s  infinite;";

    protected override void OnInitialized()
    {
        manager = new AboutManager();
        base.OnInitialized();
    }

}