﻿<style>
    .blanket {
        position: absolute;
        top: 0;
        left: 0;
    }
</style>

<div class="blanket" style="@dm.Blanket" @onmouseup="WM.Release">
</div>
@code {
    [Parameter]
    public DesktopManager dm { get; set; }
}
