﻿@using System.Reflection
@using System.Numerics
@page "/DesktopMode"
<style>
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        overflow: hidden;
        user-select: none;
        -webkit-user-select: none;
    }

    .wallpaper {
        position: absolute;
        width: 100%;
        height: 100%;
        @Theme.Background(Theme.DesktopBackground, false)
    }

    .env {
        position: relative;
        width: 100vw;
        height: 95vh;
    }

    .marker {
        position: absolute;
        border: 2px solid darkblue;
        background-color: deepskyblue;
        opacity: 0.7;
    }
</style>

<div class="background" @onmousemove="WM.MousePosition" @onkeydown="KeyDown">
    <div class="wallpaper" @onmousedown="dm.SetMarker">
        @if (Theme.WPShow)
        {
            <img src="@Theme.Wallpaper" style="width:100vw; height:100vh;"/>
        }
    </div>
    @foreach (PanelModel panel in dm.Panels)
    {
        @* <div style="@panel.Dock()"> *@
            <Panel Pan="panel"/>
        // </div>
    }
    @* @if (dm.Mark != null) *@
    @* { *@
    @*     <div class="marker" style="@dm.Mark.Scale() @dm.Mark.Position()"></div> *@
    @* } *@
    <div class="env" @oncontextmenu="SpawnMenu" @oncontextmenu:preventDefault="true" @onmousedown="KillMenu">
    </div>
    @if (dm.RadMenu)
    {
        <RadialMenu mouse="mouse"/>
    }
    @foreach (DesktopWindow win in WM.ActiveWindows().Where(w => !w.IsMinimized))
    {
        <Window win="win" dm="dm"/>
    }
    <div style="position: absolute; right: 0;bottom: 5%;">
        @* <Widget Text="test" Width="width:400px" Height="height:300px"/> *@
        @* <Widget Applet="new DesktopWindow()"/> *@
    </div>
    @* <div style="position:absolute; bottom: 0; left: 0; height: 50px; width: 100%; display: flex; justify-content: center;"> *@
    <Blanket dm="dm"/>
    @*<div class="blanket" style="@dm.Blanket" @onmouseup="dm.Release" @onmousemove="dm.MousePosition">
    </div>*@
</div>

@code {
    DesktopManager dm;
    // PanelModel panel = new();

    Vector2 mouse = new();

    int mx = 0, my = 0;
    bool menu;

    void SpawnMenu()
    {
        mouse.X = WM.mouseX;
        mouse.Y = WM.mouseY;
        // menu = true;
        dm.RadMenu = true;
    }

    void KillMenu()
    {
        dm.RadMenu = false;
    }

    void KeyDown(KeyboardEventArgs e)
    {
        Console.WriteLine($"Clicked {e.Key}");
    }

    protected override void OnInitialized()
    {
        
        if (WM.Windows.Count < 1)
        {
            WM.GetApps();
        }

        WM.DM = new DesktopManager();
        dm = WM.DM;
        WM.PropertyChanged += (o, e) => StateHasChanged();
    }

}