﻿<style>
    .launcherBody {
        /*width: 150px;
            height: 400px;*/
        width: 20%;
        height: 25%;
        position: absolute;
        bottom:5%;
        /*left:5px;*/
    }

    .launcherBackground {
        position: absolute;
        width: 100%;
        height: 100%;
        /*background-color: navy;*/
        @Theme.PanelBG()
        /*opacity: 0.2;*/
        @Theme.Opacity(Theme.TaskOp)
        /*filter: blur(2px);*/
        backdrop-filter:blur(8px);
    }

    .sidepanel {
        position: absolute;
        left: 0;
        top: 0;
        width: 20%;
        height: 100%;
    }

    .typeBtn {
        height: 10%;
        /*color: white;*/
        @Theme.Foreground(Theme.FG)
        text-align: right;
        padding: 5%;
        font-size: 0.8vw;
    }

        .typeBtn:hover {
            border: solid 1px darkgray;
        }

    .appGrid {
        position: absolute;
        width: 80%;
        height: 95%;
        padding: 5%;
        /*width: 60%;*/
        /*!*height:50%;*!*/
        /*margin-right: 20%;*/
        margin-left: 20%;
        /*margin-top: 1%;*/
        /*width: 150px;*/
        /*display: grid;*/
        /*!*left: 20%;*!*/
        /*!*grid-template-columns: 25% 25% 25% 25%;*!*/
        /*grid-template-columns: repeat(4, 25%);*/
        /*grid-gap: 0.2vh;*/
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        overflow: auto;
    }

    .center {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }

    .app {
        position: relative;
        /*width: 100%;*/
        flex-basis: 23%;
        /*padding: 5px;*/
        aspect-ratio: 1;
        /*color: white;*/
        @Theme.Foreground(Theme.FG)
        text-shadow: black;
        text-align: center;
        /*border: solid 1px gray;*/
    }

        .app:hover {
            border: solid 2px gray;
        }

    .appTitle {
        position: absolute;
        bottom: 5%;
        width: 100%;
        height: 40%;
        text-align: center;
        font-size: 10px;
        overflow-wrap: break-word;
        /*font-size: 1.2vh;*/
        /*border: 1px blue solid;*/
    }

    .textPart {
        position: absolute;
        bottom: 0;
    }
</style>

<div class="launcherBody">
    <div class="launcherBackground">
    </div>
    <div class="sidepanel">
        <div class="typeBtn" @onmouseover="AllApps">
            <p>All Apps</p>
        </div>
        @foreach (var type in dm.WinTypes)
        {
            <div class="typeBtn" @onmouseover="(e => FilterApps(type))">
                <p>@type</p>
            </div>
        }
    </div>
    <div class="appGrid">
        @foreach (DesktopWindow app in windows)
        {
            string bg = "lightblue";
            if(WM.GetApp(app.Name) == null)
                bg = "gray";

            if (app.Type.ToString().ToLower() != "popup" && app.Name != "CV")
            {
                <div style="flex-basis: 25%;aspect-ratio: 1; color: white;">
                    <AppButton app="app"/>
                </div>
                @* <div class="app" @onclick="(e => LaunchApp(app))"> *@
                @*     <div style="position:absolute; width: 100%; height: 100%; background-color:@bg; opacity:0.2;"></div> *@
                @*     <img src="@app.Icon" class="center" /> *@
                @*     <div class="appTitle"> *@
                @*         $1$<div class="textPart">#1# *@
                @*         <div>@app.Name</div> *@
                @*         $1$</div>#1# *@
                @*     </div> *@
                @* </div> *@
            }
        }
    </div>
</div>
@using System.Reflection
@code {
    [Parameter]
    public DesktopManager dm { get; set; }

    private List<DesktopWindow> windows = new List<DesktopWindow>();

    void FilterApps(string type)
    {
        windows = WM.Windows.Where(w => w.Type.ToString() == type).ToList();
        //if (windows.Count == 1)
        //    windows.Add(new DesktopWindow() { Name = "null" });
    }

    void AllApps()
    {
        windows = WM.Windows.ToList();
    }

    void LaunchApp(DesktopWindow app)
    {
        WM.LaunchApp(app);
        WM.PropChanged(app);
    }

    protected override void OnInitialized()
    {
        FilterApps("All");
        //AllApps();
    }
}
