<style>
    .welcomeMain{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 5px;
        display: flex;
        /*justify-content: center;*/
        flex-direction: column;
        align-items: center;
        overflow: auto;
        /*overflow: auto;*/
    }
    .welcomeTitle{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        /*align-items: center;*/
        text-align: center;
        max-width: 750px;
        h3{
            color: #31d2f2;
        }
    }
    .welcomeBody{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        border-top: #31d2f2 2px solid;
        width: 100%;
        gap: 10px;
        max-width: 750px;
    }
    .welcomePar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
        gap: 5px;
        h5{
            color: #31d2f2;
            /*padding-left: 25px;*/
            /*padding-right: 25px;*/
        }
    }
</style>
<div class="welcomeMain">
    <div class="welcomeTitle">
        <h3>Welcome to DesktopMode!</h3>
        <div>A hyper-interactive website built on Blazor</div>
        <div>And my first ever web project</div>
        <div>Expand window to read more...</div>
    </div>
    <div class="welcomeBody">
        <div class="welcomePar">
            <br/>
            <div>
                <h5>Inspired by great projects</h5>
                Desktop Mode is heavily inspired by desktop environments such as <a href="https://kde.org">KDE Plasma</a> with its impeccable customization options.
            </div>
            <br/>
            <img src="https://kde.org/announcements/plasma/6/6.0.0/fullscreen_with_apps.png" style="height: 90px;"/>
        </div>
        <div class="welcomePar">
            <div style="height: 90px; display: flex; justify-content: center; background-color: white; align-items: center; border-radius: 50%; aspect-ratio: 1;">
                <img src="assets/settings.png" style=""/>
            </div>
            <div>
                <h5 style="text-align: right;">Change everything</h5>
                Just about everything can be customized with a range of options, from simple things like wallpaper and accent color to the physics applied to the windows itself.
            </div>
        </div>
        <div class="welcomePar">
            <div>
                <h5>There's even physics!</h5>
                Physics is applied to this welcome window, but you can toggle it for any window using the purple "pin" button on the left side of the titlebar, or by right-clicking while dragging the window.
            </div>
        </div>
        <div class="welcomePar">
            <div style="height: 90px; display: flex; justify-content: center; background-color: white; align-items: center; border-radius: 50%; aspect-ratio: 1;">
                <img src="assets/blazor.png" style="height: 60px;"/>
            </div>
            <div>
                <h5 style="text-align: right;">Quick Access Menu</h5>
                Right-click anywhere on the desktop to open Quick Access Menu (QAM) where you can add new panels, change wallpaper, open the settings app or spawn this window again.
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public DesktopWindow? win { get; set; }

    protected override void OnInitialized()
    {
        if (win != null)
        {
            win.Width = 470;
            win.Height = 170;
            // win.Height = 500;
        }
    }

}