@page "/weather"
@using DesktopMode.Components.Apps.WeatherApp.Models
<style>
    .gitMain{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
        @Theme.Foreground(Theme.FG)
        input{
            @Theme.Foreground(Theme.FG)
        }
    }
    .gitBody{
        width: 100%;
        height: 100%;
        padding: 5px;
    }
    .gitHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }
    .gitContent{
        flex-grow: 1;
        width: 100%;
    }
    
    .gitRelBody{
        border-top: 2px solid mediumpurple;
        border-bottom: 2px solid mediumpurple;
        border-radius: 5px;
        margin-top: 25px;
        padding: 5px;
    }
    .gitRelBody:hover{
        border: 2px solid mediumpurple;
    }
    /*.gitRelTitle{*/
    /*    display: flex;*/
    /*}*/
    .gitRelDesc{
        white-space: pre-line; 
        border: 1px solid dimgray;
        border-radius: 5px;;
        padding: 10px;
    }
    .gitAssBody{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .gitAssBody:hover{
        background-color: #141619;
    }
</style>

<div class="gitMain">
    <div class="gitBody">
        <div class="gitHeader">
            <input type="text" style="flex-grow: 1;background-color: transparent;" placeholder="Enter url here" @bind="city"/> <button @onclick="GetWeather">Check</button>
        </div>
        <div class="gitContent">
            <div style="text-align: center;">@title</div>
            @if (weather != null)
            {
                <div class="gitRelBody">
                    <div class="gitRelTitle">
                        <h2>Real: @weather.RealTemp()</h2>
                        <span>Feels: @weather.FeelTemp()</span>
                    </div>
                    <div class="gitRelDesc" style="">
                        <img src="@weather.Icon(weather.Info[0].Icon)"/>
                        @weather.Info[0].Description
                    </div>
                    <div class="gitRelAssets">
                        <div>Wind: @weather.WindSpeed()</div>
                        <div>Sunrise: @weather.SunRise() <img src="@weather.Icon("01d")" style="width:33px;"/></div>
                        <div>Sunset: @weather.SunSet() <img src="@weather.Icon("01n")" style="width:33px;"/> </div>

                    </div>

                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public DesktopWindow Win { get; set; }
    WeatherManager manager;
    WeatherModel weather;
    string city = "";
    string title = "";

    protected override void OnInitialized()
    {
        manager = new();
    }

    async void GetWeather()
    {
        if(Win != null)
            Win.SetStatus(city);
        title = await manager.GetWeather(city);
        weather = manager.Weather;
        StateHasChanged();
    }

}