<div>
    @time
</div>

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }
    
    string time = "test";
    string timeZone = TimeZoneInfo.Local.ToString();
    protected override async void OnInitialized()
    {
        await Tick();
    }

    public void Refresh()
    {
        time = DateTime.Now.ToString("HH:mm:ss");
        StateHasChanged();
    }
    
    

    async Task Tick()
    {
        while (true)
        {
            // border = arr[new Random().Next(0, 6)];
            time = DateTime.Now.ToString("HH:mm");
            await Task.Delay(1000);
            StateHasChanged();
        }
    }

}