@using DesktopMode.Models.CV
@page "/cv"
<style>
    .cvBody{
        position: relative;
        width: 100%;
        height: 100%;
        /*padding: 2%;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-bottom: mediumpurple 2px solid;
        @background
        @foreground
    }
    .cvFooter{
        width: 100%;
        display: flex;
        flex-direction: row;
        border-top: mediumpurple 1px dashed;
    }
    .cvBody h2{
        color: mediumpurple;
    }
    .cvTitle{
        width: 100%;
        border-bottom: mediumpurple 2px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cvName{
        color: mediumpurple;
    }
    .cvHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: mediumpurple 1px dashed;
        overflow: hidden;
    }
    .cvContent{
        width: 100%;
        display: flex;
        flex-direction: row;
        /*overflow: hidden;*/
    }
    .cvLeft{
        /*overflow: clip;*/
        width: 40%;
        text-align: right;
        padding: 10px;
        border-right: mediumpurple 1px dashed;
        text-wrap: normal;
        /*overflow-wrap: break-word;*/
        overflow: hidden;
    }
    .cvRight{
        /*overflow: clip;*/
        /*flex-grow: 1;*/
        width: 60%;
        padding: 10px;
        border-left: mediumpurple 2px solid;
        overflow: hidden;
    }
    .cvContact{
        white-space: nowrap;
        overflow-wrap: break-word;
    }
    .cvContact:hover{
        white-space: normal;
    }
    .cvExpBody{
        padding: 5px;
        overflow-wrap: break-word;
        border-left: mediumpurple 1px solid;
        /*width: 50%;*/
        margin-bottom: 10px;
        white-space: nowrap;
    }
    .cvExpBody:hover{
        border-bottom: mediumpurple 1px dashed;
        white-space: normal;
    }
    
    .cvControls{
        background-color: #191c1f;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .cvBtn{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        margin-top: 2px;
        margin-bottom: 0;
        padding: 5px;
        display: inline-block;
        float: right;
        user-select: none;
        @background
        @foreground
    }
</style>

<div class="cvMain">
    <div class="cvControls">
        <div class="cvBtn" @onclick="PaperView">@btnTxt</div>
        <div style="flex-grow: 1;"></div>
        <div class="cvBtn" @onclick="PaperView">To PDF</div>
    </div>
    <div class="cvBody">
        <div class="cvTitle">
            <div class="cvName">
                <h3>@cv.Name</h3>
            </div>
            <div class="cvSubTitle">
                @cv.Title
            </div>
        </div>
        <div class="cvHeader">
            <div class="cvLeft">
                <div class="cvContact">
                    <h2>Kontakt</h2>
                    @* <ul> *@
                    @foreach (var info in cv.Contact)
                    {
                        <div>
                            <span style="margin-right: 5px;">@info.Info</span>
                            @if (info.Link != null)
                            {
                                if (info.Link.Contains("@"))
                                {
                                    string mail = $"mailto:{info.Link}";
                                    <a href="@mail">@@</a>
                                }

                                if (info.Link.Contains("https"))
                                {
                                    <a href="@info.Link">Go!</a>
                                }

                                if (info.Link.StartsWith("07"))
                                {
                                    <a href="@info.Link">+46</a>
                                }
                            }
                        </div>
                    }
                    @* </ul> *@
                </div>
            </div>
            <div class="cvRight">
                <div class="cvProfile">
                    <h2>Profil</h2>
                    @cv.Profile
                </div>
            </div>
        </div>
        <div class="cvContent">
            <div class="cvLeft">
                @if (cv.Skills != null)
                {
                    <div class="cvSkills">
                        <h2>Tekniska Kompetenser</h2>
                        <ul>
                            @foreach (var skill in cv.Skills)
                            {
                                <div>@skill</div>
                            }
                        </ul>
                    </div>
                }
                @if (cv.SoftSkills != null)
                {
                    <div class="cvSkills">
                        <h2>Generella Kompetenser</h2>
                        <ul>
                            @foreach (var skill in cv.SoftSkills)
                            {
                                <div>@skill</div>
                            }
                        </ul>
                    </div>
                }
            </div>
            <div class="cvRight">
                @if (cv.Jobs != null)
                {
                    <div class="cvJobs">
                        <h2>Arbetserfarenhet</h2>
                        @foreach (Job job in cv.Jobs)
                        {
                            <div style="font-size: 12px;">@job.Start - @job.End</div>
                            <span style="color:mediumpurple;">@job.Title</span>
                            <span>| @job.Company</span>
                            <div class="cvExpBody">
                                <div class="cvExpTitle">
                                </div>
                                <div class="cvExpDesc">
                                    @foreach (string light in job.Highlights)
                                    {
                                        <div>- @light</div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
                @if (cv.Educations != null)
                {
                    <div class="cvJobs">
                        <h2>Utbildning</h2>
                        @foreach (Education edu in cv.Educations)
                        {
                            <div class="cvExpBody">
                                @edu.Start - @edu.End
                                <div class="cvExpTitle">
                                    @edu.Title | <span style="color:mediumpurple;">@edu.School</span>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="cvFooter">
            <div class="cvLeft">
            </div>
            <div class="cvRight">
                @if (cv.Projects != null)
                {
                    <h2>Projekt</h2>
                    foreach (var project in cv.Projects)
                    {
                        <span style="color:mediumpurple;">@project.Name</span>
                        <span> | </span>
                        <a href="@project.Link" target="_blank" rel="noopener noreferrer">Github</a>
                        @* <div class="cvExpTitle"> *@
                        @*     @project.Description *@
                        @* </div> *@
                        <div class="cvExpBody">
                            <div class="cvExpDesc">
                                @* @foreach (string light in project.Tech) *@
                                @* { *@
                                @*     <div>- @light</div> *@
                                @* } *@
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@code {
    CVManager manager;
    CVModel cv;

    string foreground = "";
    string background = "";
    string btnTxt = "";
    bool paperView;

    protected override void OnInitialized()
    {
        manager = new();
        cv = manager.CV;
        PaperView();
        base.OnInitialized();
    }

    void PaperView()
    {
        if (paperView)
        {
            foreground = "color: black;";
            background = "background-color: white;";
            btnTxt = "Theme View";
        }
        else
        {
            foreground = Theme.Foreground(Theme.FG);
            background = Theme.Background(Theme.BG, false);
            btnTxt = "Paper View";
        }

        paperView = !paperView;
    }

}