﻿<style>
    .drawBody {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .toolBar {
        height: 50px;
        width: 100%;
    }

    .setWidthHeight {
        position: relative;
        top: 0px;
    }

    .canvas {
        position: relative;
        top: 50px;
        left: 20px;
        border: 1px red solid;
    }

    .newCanvas {
        border: 1px solid black;
        width: auto;
    }

    .drawCell {
        position: absolute;
        /*border:1px black solid;*/
    }
</style>

<div class="drawBody">
    <div class="toolBar">
        <div class="setWidthHeight">
            <p>
                Width:<input type="number" @bind="drawManager.Width" />
                Height:<input type="number" @bind="drawManager.Height" />
                Res:<input type="range" min="5" max="25" @bind="drawManager.Resolution" />@drawManager.Resolution
                <div class="newCanvas" @onclick=drawManager.SetCanvas>New</div>
            </p>
        </div>
    </div>
    <div class="canvas" @onmousedown="drawManager.Toggle" @onmouseup="drawManager.Toggle" style="@drawManager.Canvas.Css()">
        @foreach (DrawCell cell in drawManager.Canvas.Cells)
        {
            <div class="drawCell" style="@cell.Css()"></div>
        }
        <div class="overlay" @onmousemove="drawManager.MousePos" style="position:absolute; width: 100%; height: 100%; border:1px green dashed;"></div>
    </div>
    <div class="colorPick">
        @foreach (string color in drawManager.Colors)
        {
            string css = $"background-color: {color}; width:10px; aspect-ratio:1;";
            <div class="color" @onclick="(e => drawManager.NewBrush(color, 1))" style="@css">
            </div>
        }
    </div>
</div>

@code {
    DrawManager drawManager;

    int width;
    int height;

    protected override void OnInitialized()
    {
        drawManager = new DrawManager();
    }
}
