<style>
    .errorMsgMain{
        /*text-align: center;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*flex-direction: column;*/
        user-select: text;
    }
    .errorMsgTitle{
        color: red;
    }
    .errorMsgBody{
        overflow-wrap: normal;
    }
</style>
<div class="errorMsgMain">
    <div class="errorMsgTitle">
        Error: @Error.Message
    </div>
    <div class="errorMsgBody">
        @Text
    </div>
</div>

@code {
    [Parameter] public ErrorModel Error { get; set; }
    
    [Parameter]
    public string? Text { get; set; }

    protected override void OnInitialized()
    {
        Text += Error.Error.ToString();
        if (Text == null)
            Text = "Empty text";
    }

}