﻿<style>
    .tipBody{
        position:relative;
        /*width: auto;
        height: auto;*/
        overflow:auto;
        padding: 10px;
        h4,h3{
            color: aqua;
        }
    }
</style>

<div class="tipBody">
    @*<div class="tipTitle">
        Tips
    </div>*@
    @* <div class="info"> *@
    @*     This project is heavily inspired by desktop environments, in particular<a href="https://kde.org/plasma-desktop/"> KDE Plasma </a>and its window manager KWin.<br /> *@
    @*     Built with Blazor on .NET 6 *@
    @* </div> *@
    @* <div class="features"> *@
    @*     <ul> *@
    @*         <li>Open apps using the launcher at the bottom left</li> *@
    @*         <li>"Shade" windows by scrolling on the titlebar or clicking the || button</li> *@
    @*         <li>Drag windows around by holding left mouse button on Chromium and clicking on Firefox (bug with Firefox)</li> *@
    @*         <li>Maximize windows by double clicking the titlebar or clicking the <a style="transform:rotate(180deg);">v</a> button</li> *@
    @*         <li>Scale windows by dragging the right and button edges when a yellow tint shows up (click on Firefox)</li> *@
    @*         <li>Customize your environment in the Settings app</li> *@
    @*     </ul> *@
    @* </div> *@
    @* <div class="info"> *@
    @*     <p>You can bring this window up again by clicking the (?) widget at the bottom</p> *@
    @* </div> *@
    <div>
        <h3>Don't like it? Change it!</h3>
        <div>
            This is my first ever web project, a hyper-interactive Blazor WASM application built with .NET 8 using C#, HTML and CSS.<br/>
            The project is heavily inspired by KDE Plasma for the desktop side and Nova Launcher for the mobile side.<br/>
            <br/>
            <h4>Panels:</h4>
            <div style="padding: 5px;">
                Customize a panel by right-clicking it. You can change size, position, widgets, etc.<br/>
                You can add new panels and customizing all of them using the <span style="color:aqua;">settings app.</span><br/>
                There are 8 dockable positions for panels
            </div>
            <h4>Windows:</h4>
            <div style="padding: 5px;">
                Windows can be moved using the titlebar, resized using the edges/corners, and shaded by scrolling on the titlebar<br/>
                To customize windows, open the settings app.
            </div>
        </div>
    </div>
</div>

@code{

}