@* <style> *@
@*     .pinMain{ *@
@*         position: relative; *@
@*         width: 100%; *@
@*         min-height: 100%; *@
@*         padding: 5px; *@
@*         /*position: relative;*/ *@
@*         /*min-width: 300px;*/ *@
@*         /*min-height: 100%;*/ *@
@*         /*width: 100%;*/ *@
@*         /*max-height: 75vh;*/ *@
@*         /*display: flex;*/ *@
@*         /*justify-content: center;*/ *@
@*         /*align-items: center;*/ *@
@*         /*flex-direction: column;*/ *@
@*         @Theme.TestBorder *@
@*     } *@
@*     .pinHeader{ *@
@*         position: relative; *@
@*         width: 100%; *@
@*         height: 25px; *@
@*         display: flex; *@
@*         justify-content: center; *@
@*         align-items: center; *@
@*     } *@
@*     .pinDisplay{ *@
@*         width: 80%; *@
@*         height: 100%; *@
@*         border: white 1px solid; *@
@*         border-radius: 25px; *@
@*         display: flex; *@
@*         justify-content: center; *@
@*         align-items: center; *@
@*         color: white; *@
@*     } *@
@*     .pinContent{ *@
@*         position: relative; *@
@*         /*width: 100%;*/ *@
@*         /*min-height: 100%;*/ *@
@*         display: flex; *@
@*         justify-content: center; *@
@*         align-items: center; *@
@*         flex-wrap: wrap; *@
@*         margin-left: auto; *@
@*         margin-right: auto; *@
@*     } *@
@*     .pinBtnBody{ *@
@*         position: relative; *@
@*         flex-basis: 33%; *@
@*         aspect-ratio: 1; *@
@*         border-radius: 50%; *@
@*         display: flex; *@
@*         justify-content: center; *@
@*         align-items: center; *@
@*     } *@
@*     .pinBtnBG{ *@
@*         position: absolute; *@
@*         height: 100%; *@
@*         width: 100%; *@
@*         aspect-ratio: 1; *@
@*         /*margin: 0 auto;*/ *@
@*         border-radius: 50%; *@
@*         opacity: 50%; *@
@*     } *@
@*     .pinBtnBody:hover{ *@
@*         .pinBtnBG{ *@
@*             background-color: white; *@
@*         } *@
@*     } *@
@*     .pinBtn{ *@
@*         position: relative; *@
@*         height: 75%; *@
@*         aspect-ratio: 1; *@
@*         border-radius: 50%; *@
@*         display: flex; *@
@*         justify-content: center; *@
@*         align-items: center; *@
@*         background-color: white; *@
@*         color: black; *@
@*     } *@
@* </style> *@
@* <div class="pinMain"> *@
@*     <div class="pinHeader"> *@
@*         <div class="pinDisplay" style="@css">@output</div> *@
@*     </div> *@
@*     <div class="pinContent"> *@
@*         @if (correct) *@
@*         { *@
@*             foreach (var app in WM.Windows.Where(w => w.Type == DesktopWindow.WinType.About)) *@
@*             { *@
@*                 <AppButton app="app"/> *@
@*             } *@
@*         } *@
@*         else *@
@*         { *@
@*             @for (int i = 1; i <= 10; i++) *@
@*             { *@
@*                 int num = i; *@
@*                 if (num == 10) *@
@*                 { *@
@*                     num = 0; *@
@*                 } *@
@* *@
@*                 <div class="pinBtnBody"> *@
@*                     <div class="pinBtnBG"></div> *@
@*                     <div class="pinBtn" @onclick="() => AddNum(num)">@num</div> *@
@*                 </div> *@
@*             } *@
@*         } *@
@*     </div> *@
@* </div> *@

<style>
    /*.calendarMain{*/
    /*    position: relative;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    overflow: hidden;*/
    /*}*/
    /*.calendarBlur{*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*}*/
    /*.calendarBackground{*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    background-color: black;*/
    /*    opacity: 10%;*/
    /*}*/
    .pinHeader{
         position: relative;
         width: 33%;
         height: 25px;
         margin-left: auto;
         margin-right: auto;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .pinDisplay{
         width: 80%;
         height: 100%;
         border: white 1px solid;
         border-radius: 25px;
         display: flex;
         justify-content: center;
         align-items: center;
         color: white;
     }
    .calendarBody{
        position: relative;
        width: 100%;
        min-height: 100%;
        padding: 5px;
        /*background-color: white;*/
    }
    .calendarContent{
        display: flex;
        /*flex-wrap: wrap;*/
        flex-direction: row;
        gap: 5px;
    }
    .calendarBody:hover{
        .calendarWeeks{
            opacity: 60%;
        }
    }
    /*.calendarWeekdays{*/
    /*    position: relative;*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
    /*}*/
    .calendarWeeks{
        opacity: 5%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .calendarWeek{
        font-size:14px;
        flex-basis: 20%;
        width: 20px;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: gray;
        border-radius: 5px;
        border: transparent 1px solid;
    }
    .calendarWeek:hover{
        border:gray 1px solid;
    }
    .calendarGrid{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        @Theme.TestBorder
        /*align-items: center;*/
        /*height: 100%;*/
    }
    .calendarDayBody{
        position: relative;
        flex-basis: 33%;
        aspect-ratio: 1;
        text-align: center;
        border-radius: 5px;
    }
    .calendarDayBG{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        opacity: 20%;
    }
    .calendarDay{
        aspect-ratio: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .calendarDay:hover{
        border: 1px solid white;
        
    }
    .calendarExpand{
        position:relative; 
        width: 100%; 
        height: 200px;
        padding: 5px;
        border-top: #191c1f 1px solid;
    }
</style>
@* <div class="calendarMain"> *@
@*     <div class="calendarBlur"></div> *@
@*     <div class="calendarBackground"></div> *@
<div class="calendarBody">
     <div class="pinHeader">
         <div class="pinDisplay" style="@css">@output</div>
     </div>
    <div class="calendarContent">
        <div class="calendarGrid">
            @{
                for (int i = 1; i <= 10; i++)
                {
                    int num = i;
                    if (num == 10)
                        num = 0;
                    <div class="calendarDayBody">
                        <div class="calendarDayBG"></div>
                        <div class="calendarDay" @onclick="() => AddNum(num)">@num</div>
                    </div>
                }
            }
        </div>
    </div>
    @if (exp)
    {
        <div class="calendarExpand">
             @foreach (var app in WM.Windows.Where(w => w.Type == DesktopWindow.WinType.About))
             {
                 <AppButton app="app"/>
             }
        </div>
    }
</div>

@code {
    int[] nums = {0,4,5,1};
    string output = "";
    string code = "";
    string css = "";

    bool correct;
    bool exp;

    void AddNum(int i)
    {
        code += i.ToString();
        output += "*";
        if (code.Length == 4 && code == "0451")
        {
            correct = true;
            output = "ACCESS GRANTED";
            css = "border:1px solid green;";
            exp = true;
        }
        else if (code.Length == 4 && code != "0451")
        {
            output = "ACCESS DENIED";
            css = "border:1px solid red;";
        }

        if (code.Length > 4)
        {
            code = i.ToString();
            output = "*";
            css = "";
        }
    }
}

