<style>
    .radialBody{
        position: absolute;
        width: 200px;
        border-radius: 50%;
        aspect-ratio: 1;
        border: 1px solid lightskyblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .radialBase{
        position: relative;
        border-radius: 50%;
        /*background-color: #0c4128;*/
        border: 1px solid @Theme.Accent;
        aspect-ratio: 1;
        overflow: hidden;
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        transform: rotate(45deg);
        width: 75%;
    }
    
    .radialCenter{
        position: absolute;
        border-radius: 50%;
        background-color: #1c1f23; 
        width: 25%; 
        aspect-ratio: 1;
        /*left: 100px; */
        /*top: 100px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px #5C2D91 solid;
    }
    
    .radCatBod{
        position: relative;
        width: 100%;
        aspect-ratio: 1;
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        border: 1px #5C2D91 solid;
    }
    
    .radCat{
        position: absolute;
        width: 100%;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @Theme.Foreground(Theme.FG)
        /*position: relative;*/
        /*width: 100%;*/
        /*aspect-ratio: 1;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*border: 1px #5C2D91 solid;*/
        /*!*transform: rotate(45deg);*!*/
        /*!*background-color: #0c4128;*!*/
    }
    .radCatBG{
        position: absolute;
        width: 100%;
        aspect-ratio: 1;
        @Theme.Background(Theme.BG, false)
        @Theme.Opacity(3)
    }
    .radCatBlur{
        position: absolute;
        width: 100%;
        aspect-ratio: 1;
        @Theme.Background(Theme.BG, true)
        @Theme.Blur(8)
    }
    .radCatBod:hover .radCatBG{
        @Theme.Background(Theme.Accent, false)
        @Theme.Opacity(1)
    }
    
    /*.radCat span{*/
    /*    transform: rotate(45deg);*/
    /*}*/
    
    .radialItem{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        /*float: left;*/
        border-radius: 50%;
        background-color: #1a1e21;
        border: 1px lightslategray solid;
        width: 40px;
        height: 40px;
        aspect-ratio: 1;
    }
    
    .radialIcon{
        width: 50%;
    }
    
    .radialItem:hover .radialIcon{
        width: 80%;
    }
    .radialItem:hover{
        @Theme.Background(Theme.Accent, false)
    }
    
</style>

<div class="radialBody" style="@man.Base.CSS()">
    <div class="radialBase" @onmousemove="man.Mouse" @onclick="man.PlaceRad">
        @{
            int i = 0;
            foreach (var type in choice)
            {
                string rotate = $"transform:rotate({deg[i++]}deg);";
                // rotate = "";
                <div class="radCatBod" @onclick="() => Action(type)">
                    <div class="radCatBlur"></div>
                    <div class="radCatBG"></div>
                    <div class="radCat">
                        <span style="@rotate">@type</span>
                        @* <div style="width: 100%; height: 100%;"></div> *@
                    </div>
                </div>
            }
        }
        @* <div class="radialCenter"> *@
        @*     <img src="assets/blazor.png" style="width:50%"/> *@
        @* </div> *@
        @* @foreach (RadItem rad in man.Rads) *@
        @* { *@
        @*     int? *@
        @*         x = rad.X + 20, *@
        @*         y = rad.Y + 20; *@
        @*     <div class="radialItem" style="@rad.CSS()"> *@
        @*         @x x @y *@
        @*         $1$ <img class="radialIcon" src="@rad.Win.Icon"/> #1# *@
        @*     </div> *@
        @* } *@
    </div>
    <div class="radialCenter">
        <img src="assets/blazor.png" style="width:50%"/>
    </div>
</div>
@using DesktopMode.Models.RadialMenu
@using System.Numerics

@code {
    [Parameter]
    public Vector2 mouse { get; set; }

    private RadManager man;

    int[] deg = {-45, 45, 225, -45};
    string[] choice = { "Settings", "Add panel", "Change WP", "Help"};

    void Action(string action)
    {
        switch (action)
        {
            case "Settings":
                Launch(action);
                break;
            case "Add panel":
                WM.DM.Panels.Add(new PanelModel(){DockPos = Theme.DockPositions[1].Value});
                // WM.DM.Panels.Add(new PanelModel(){DockPos = Theme.DockPositions.Where(p => p.Name == "Top Center").FirstOrDefault().Value});
                break;
            case "Help":
                Launch(action);
                break;
            case "Change WP":
                Launch("WPSelect");
                break;
        }

        WM.DM.RadMenu = false;
    }

    void Launch(string name)
    {
        WM.LaunchApp(WM.GetWindowByName(name));
    }

    protected override void OnInitialized()
    {
        man = new RadManager();
        if (mouse == Vector2.Zero)
            man.Base.Pos = new Vector2(man.Base.Radius * 2, man.Base.Radius);
        man.Base.Pos = mouse - new Vector2(man.Base.Radius, man.Base.Radius);
    }

}