﻿<style>
    .testBody{
        width:100%;
        height:100%;
        padding:5px;
        text-align:center;
        /*display:flex;
        justify-content:center;
        align-items:center;*/
    }
</style>

<div class="testBody">
    <div class="testContent">
        @foreach (var file in files)
        {
            <p>@file.FullName</p>
        }
        @files.Count
        @*<InputFile/>*@
        @* <RadialMenu/> *@
        @* <Debug Wobble="@WM.Status"/> *@
        @* <XKCDViewer/> *@
        @*@for(int i = 1; i <= 100; i++)
    {
        string fizzy = "";
        if (i % 3 == 0)
            fizzy = "Fizz";
        if (i % 5 == 0)
            fizzy += "Buzz";
        if (fizzy == "")
            fizzy = $"{i}";
        <p>@fizzy</p>
        }*@
    </div>
</div>
@using System.Reflection;
@code {
    List<Type> files = Assembly.GetExecutingAssembly().GetTypes().Where(a => a.FullName.Contains("Images")).ToList();

}
