@page "/elfcalibrator"
@using DesktopMode.Components.Apps.ElfCalibrator.Models

<style>
    .elfBody{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @color
    }
    .elfConf{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .elfCalc{
        flex: 1;
        border: #20c997 2px solid;
        overflow: auto;
        padding: 5px;
    }
    .elfStatus{
        text-align: center;
    }
    .calibrate{
        border: #1c1f23 1px solid;
        border-radius: 5px;
        height: 50%;
        display: flex;
        vertical-align: middle;
    }
</style>

<div class="elfBody">
    <div class="elfConf">
        <div>
            <h6>Show numbers: <input type="checkbox" @onclick="Calibrate" @bind="elf.ShowNum"/></h6>
            <h6>Include words: <input type="checkbox" @onclick="Calibrate" @bind="elf.Literally"/></h6>
        </div>
        <div>
            <div class="calibrate" @onclick="Calibrate">
                Calibrate
            </div>
        </div>
    </div>
    <div class="elfCalc">
        @foreach (string line in cali)
        {
            <h6>@line</h6>
        }
    </div>
    <div class="elfStatus">
        Calibration number:
        @elf.Total
    </div>
</div>
@inject HttpClient http
@code {
    [Parameter]
    public DesktopWindow Win { get; set; }
    ElfManager elf = new();

    string padding = "";
    string color = "color:white;";
    List<string> cali = new();

    protected override void OnInitialized()
    {
        // Calibrate();
        try
        {
            Win.SetStatus("The_Elves_List.txt");
            padding = $"padding-bottom: {Theme.HeaderHeight}px;";
            color = Theme.Foreground(Theme.FG);
        }
        catch{}

        base.OnInitialized();
    }

    async void Calibrate()
    {
        await Task.Delay(10);
        string text = await http.GetStringAsync("assets/TheElvesList.txt");
        cali = elf.GetCalibration(text);
        WM.PropChanged(this);
        // Win.SetStatus(elf.Total.ToString());
    }

}