<style>
    .panelSetBody{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        /*justify-content: center;*/
        /*align-items: center;*/
        flex-direction: column;
    }
</style>

@* <div class="panelSetMain"> *@
@*     <div class="panelSetTitle"> *@
@*         <h3>Panel settings</h3> *@
@*     </div> *@
@*     <div class="panelSetContent"> *@
@*         @foreach (PanelModel panel in WM.DM.Panels) *@
@*         { *@
<div class="panelSetBody">
    <div style="flex-direction: column; display: flex;">
        <div>Width: @Panel.Width % </div>
        <input type="range" max="100" min="20" @bind="@Panel.Width"/>
    </div>
    <div style="flex-direction: column; display: flex;">
        <div>Height: @Panel.Height</div>
        <input type="range" max="150" min="10" @bind="@Panel.Height"/>
    </div>
    <div>
        Dock:
        <select @bind="Panel.DockPos">
            @foreach (PanelDock dock in Theme.DockPositions)
            {
                <option value="@dock.Value">@dock.Name</option>
            }
        </select>
    </div>
    <div>
        <p>Floating: <input type="checkbox" @bind="Panel.Float"/></p>
    </div>
    <div>
        <p>Sidepanel: <input type="checkbox" @bind="Panel.Side"/></p>
    </div>
</div>
@*         } *@
@*     </div> *@
@* </div> *@

@code {
    [Parameter] public PanelModel Panel { get; set; }

}