﻿@page "/settings"
<style>
    .setBody {
        position: relative;
        /*height:100%;
                                width:auto;*/
        /*overflow: auto;*/
    }

    .darkTheme {
        position: relative;
        height: 70px;
        border: dashed 1px gray;
    }

    .lightTheme {
        position: relative;
        height: 70px;
        border: dashed 1px gray;
    }

    .changeBackground {
        position: relative;
        width: 25vh;
    }

        .changeBackground .sImg, .changeBtn {
            position: absolute;
            text-align: center;
            height: 100%;
            width: 100%;
        }

    .changeBtn {
        margin: auto;
    }
</style>

<div class="setBody">
    <WinSet win="win" />
    @*<div class="changeBackground" @onclick="LaunchWP">
    <div class="sImg">
    <img src="@Theme.Wallpaper" style="width: 100%;" @onmouseover="ChangeWP" @onmouseout="ChangeWP" />
    </div>  
    @if (change)
    {
    <div class="changeBtn">
    <p>Change</p>
    </div>
    }
    @*<p>Change background</p>*@
    @*</div>*@
    @*<input type="text" style="@Theme.Background @Theme.Foreground" @bind="Theme.Wallpaper" />*@
</div>
@using System.IO
@code {
    [Parameter]
    public DesktopWindow? win { get; set; }

    //SettingsManager sm;
    bool change = false;

    void ChangeWP()
    {
        if (change)
        {
            change = false;
        }
        else
        {
            change = true;
        }
    }

    void LaunchWP()
    {
        try
        {
            DesktopWindow win = WM.Windows.Where(w => w.Name.ToLower() == "wpselect").FirstOrDefault();
            WM.LaunchApp(win);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    void Apply()
    {
        InvokeAsync(() => StateHasChanged());
    }

    //protected override void OnInitialized()
    //{
    //    sm = new SettingsManager();
    //}
}
