﻿@using System.Data
<style>
    .winSetBody {
        position: relative;
        padding:5px;
        display: flex;
        /*flex-wrap:wrap;*/
        flex-flow: row wrap;
        justify-content: stretch;
        @Theme.Foreground(Theme.FG) 
        /*display:grid;
                grid-template-columns: 50% 50%;*/
        /*width:100%;
                            height:100%;
                            display:grid;
                            grid-template-columns:100%;*/
    }

    .winSetBody input, button, select {
        opacity: 0.6;
        @Theme.Foreground(Theme.FG) 
        @Theme.Background(Theme.BG, false) 
        border: 1px solid white;
    }

    .winsetBody h4 {
        text-align: center;
    }

    .setSection {
        position: relative;
        margin: 0.25vh;
        /*max-width: 50%;*/
        /*width: auto;*/
        flex-grow: 1;
        overflow: hidden;
        @Theme.Corners()
    }

    .setBG {
        position: absolute;
        width: 100%;
        height: 100%;
    @Theme.Background(Theme.BG, false) opacity:0.6;
    @Theme.Blur(Theme.BodyBlur * 2)
    }

    .setContent {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 1%;
    }
    /*.setSection:hover {
                height:auto;
            }*/

    .subSet {
        margin-inline: 5%;
        max-height: 350px;
        overflow: auto;
    }
</style>

<div class="winSetBody">
    <div class="setSection">
        <div class="setBG"></div>
        @if (showHeader)
        {
            <WinHeader win="win"/>
        }
        <div class="setContent">
            <h4>Header settings</h4>
            <div class="subSet">
                <p>
                    Title position:
                    <select type="text" placeholder="@Theme.TitleAlign" @bind="Theme.TitleAlign" style="width:75px;">
                        @foreach (string align in Theme.Alignment)
                        {
                            <option value="@align">@align</option>
                        }
                    </select>
                </p>
                <p>Accent color: <input type="color" @bind="acc"/> <button @onclick="SetAcc">Set</button> Glass: <input type="checkbox" @bind="Theme.AccGlass"/> </p>
                <p>Opacity<input type="range" max="10" min="0" @bind="Theme.HeadOp"/>@Opacity()</p>
                <p>Blur amount: <input type="range" min="0" max="10" @bind="Theme.HeaderBlur"/>@Theme.HeaderBlur</p>
                <p>Thickness: <input type="range" min="11" max="66" @bind="Theme.HeaderHeight"/> <input type="number" @bind="Theme.HeaderHeight" style="width:50px;"/></p>
            </div>
        </div>
    </div>
    <div class="setSection">
        <div class="setBG"></div>
        <div class="setContent">
            <h4>Body settings</h4>
            <div class="subSet">
                <p>Blur amount: <input type="range" min="0" max="10" @bind="Theme.BodyBlur"/>@Theme.BodyBlur</p>
                <p>Opacity: <input type="range" min="1" max="10" @bind="Theme.BodyOp"/></p>
                <p>Background color: <input type="color" @bind="bg"/><button @onclick="SetBG">Set</button> Glass: <input type="checkbox" @bind="Theme.WinGlass"/> </p>
                <p>Foreground color: <input type="color" @bind="fg"/><button @onclick="SetFG">Set</button> </p>
                <p>Corners: <input type="range" min="1" max="20" @bind="radius"/>@radius<button @onclick="SetRadius">Set</button> </p>
                <p>Realistic mode <input type="checkbox" @bind="Theme.YeetMode" @onclick="Pin"/></p>
                <p>Wobbly windows <input type="checkbox" @bind="Theme.Wobble"/></p>
                <p>Wobblyness: <input type="range" min="1" max="10" @bind="WM.Wobblyness"/>@WM.Wobblyness</p>
                <p>Side border width: <input type="range" min="0" max="5" @bind="Theme.SideBorder"/>@Theme.SideBorder</p>
                <p>TopDown border width: <input type="range" min="0" max="5" @bind="Theme.TipBorder"/>@Theme.TipBorder</p>
            </div>
        </div>
    </div>
    <div class="setSection">
        <div class="setBG"></div>
        <div class="setContent">
            <h4>Desktop settings</h4>
            <div class="subSet">
                <p>Resolution: <input type="number" step="10" placeholder="@Theme.XResolution" @bind="Theme.XResolution" style="width:60px;"/> X <input type="number" step="10" @bind="Theme.YResolution" style="width:60px;"/> <button @onclick="SetRes">Set</button> </p>
                <p>Desktop background: <input type="color" @bind="btn"/> <button @onclick="SetBtn">Set</button> @*<div style="aspect-ratio:1; @Theme.Thickness()"><CloseBtn /></div>*@</p>
                <p>Wallpaper: <WPSelect/></p>
            </div>
        </div>
    </div>
    @* <div class="setSection"> *@
    @*     <div class="setBG"></div> *@
    @*     <div class="setContent"> *@
    @*         <h4>Panel settings</h4> *@
    @*         <div class="subSet"> *@
    @*             $1$         <p>Glass panel: <input type="checkbox" @bind=Theme.PanGlass/></p> #1# *@
    @*             $1$         <p> #1# *@
    @*             $1$             Taskbar opacity #1# *@
    @*             $1$             <input type="range" max="10" min="1" @bind="Theme.TaskOp"/> #1# *@
    @*             $1$             @TaskOpacity() #1# *@
    @*             $1$         </p> #1# *@
    @*             <div style="height: 25px; width: 80px; border: 1px solid gray; background-color: #191c1f; margin-top: 5px; text-align: center;" @onclick="AddPanel"> *@
    @*                 Add panel *@
    @*             </div> *@
    @*             @{ *@
    @*                 int i = 0; *@
    @*                 foreach (PanelModel panel in WM.DM.Panels) *@
    @*                 { *@
    @*                     i++; *@
    @*                     <div style="padding: 10px; border-left: 1px solid white; border-bottom: 1px solid white;"> *@
    @*                         <div> *@
    @*                             Panel @i *@
    @*                         </div> *@
    @*                         <PanelSettings Panel="panel"/> *@
    @*                     </div> *@
    @*                 } *@
    @*             } *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
</div>

@code {
    [Parameter] public DesktopWindow? win { get; set; }
    private bool showHeader;

    string title = Theme.TitleAlign;

    //bool blur = Theme.WinBlur;
    string bg = Theme.BG;
    int radius = Theme.Radius;
    string fg = Theme.FG;
    string acc = Theme.Accent;
    string btn = Theme.DesktopBackground;
    int xRes = Theme.XResolution;
    int yRes = Theme.YResolution;

    protected override void OnInitialized()
    {
        if (win is null)
        {
            showHeader = true;
            win = new DesktopWindow()
            {
                Name = "sample",
                IsActive = true
            };
        }
    }

    async void Pin()
    {
        await Task.Delay(10);
        foreach (var win in WM.ActiveWindows())
        {
            win.YeetAble = Theme.YeetMode;
            win.Settle(0, 0);
        }
    }

    public void AddPanel()
    {
        WM.DM.Panels.Add(new PanelModel()
        {
            DockPos = "top:0;justify-content:center;"
        });
    }

    double Opacity()
    {
        return Theme.HeadOp / 10;
    }

    double TaskOpacity()
    {
        return Theme.TaskOp / 10;
    }

    void SetRes()
    {
        Theme.XResolution = win.Width;
        Theme.YResolution = win.Height + Theme.HeaderHeight;
    }

    void SetRadius()
    {
        Theme.Radius = radius;
    }

    void AlignText(string position)
    {
        Theme.TitleAlign = $"{position}";
    }

    void SetBG()
    {
        Theme.BG = bg;
        //Theme.Background = $"background-color: {color};";
    }

    void SetFG()
    {
        Theme.FG = fg;
        //Theme.Background = $"background-color: {color};";
    }

    void SetAcc()
    {
        Theme.Accent = acc;
    }

    void SetBtn()
    {
        Theme.DesktopBackground = btn;
    }

    void LaunchWP()
    {
        try
        {
            DesktopWindow win = WM.Windows.Where(w => w.Name.ToLower() == "wpselect").FirstOrDefault();
            WM.LaunchApp(win);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

}