﻿@using DesktopMode.Components.Apps.WPSelect.Models
<style>
    .wpBody {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        overflow: auto;
        padding: 5px;
        @Theme.Foreground(Theme.FG))
    }

    .wpGrid {
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px;
        gap: 5px;
        width: 100%;
    }

    .wpItem {
        position: relative;
        height: 120px;
        width: 210px;
        border-radius: 15px;
        overflow: hidden;
    }
    .wpItem:hover{
        .wpText{
            display: inline;
        }
    }
    
    .wpText{
        position: absolute;
        display: none;
        bottom: 0;
        right: 5px;
        font-size: 12px;
    }
    input{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: #86b7fe dashed 1px;
        color: white;
        background-color: transparent; 
    }
    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }
</style>

<div class="wpBody">
    <div>
        <div style="width: 100%; display: flex; flex-direction: row; gap: 10px; align-items: center;">
            <div style="font-size: 20px;">Unsplash </div>
            <input type="text" style="flex-grow: 1;height: 20px; text-align: center;" @bind="manager.Query"/>
            <div style="border: 2px solid black;" @onclick="GetUnsplash">Search</div>
        </div>
        <div class="wpGrid">
            @if (manager.Searching)
            {
                <div style="width:100%; text-align:center">
                    <div style="color: white;">Getting images...</div>
                    <div style="display:flex; gap:10px; justify-content:center; align-items:center">
                        <div class="spinner-border" role="status" style=""></div>
                    </div>
                </div>
            }
            else
            {
                foreach (var wp in manager.Images.Images)
                {
                    string css = $"width:100%; height:100%; position:relative;";
                    <div class="wpItem" @onclick="(e => SetWP(wp.Url.Raw))">
                        <img src="@wp.Url.Thumb" style="@css"/>
                        @if (wp.Url.Raw == Theme.Wallpaper && Theme.WPShow)
                        {
                            <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; @Theme.Blur(2)">
                                Current
                            </div>
                        }
                        <div class="wpText">
                            @wp.User.FullName - Unsplash.com
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="wpGrid">
        @foreach (string wp in Theme.Wallpapers)
        {
            string css = $"width:100%; height:100%; position:relative;";
            if (wp == Theme.Wallpaper)
                css += $"border:1px solid {@Theme.Accent};";
            <div class="wpItem" @onclick="(e => SetWP(wp))">
                <img src="@wp" style="@css"/>
                @if (wp == Theme.Wallpaper && Theme.WPShow)
                {
                    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; @Theme.Blur(2)">
                        Current
                    </div>
                }
                <div class="wpText">
                    @wp.Substring(wp.LastIndexOf('/') + 1)
                </div>
            </div>
        }
        <div class="wpItem" style="text-align: center; border: #1c1f23; display: flex;justify-content: center;align-items: center; @Theme.Background(Theme.DesktopBackground, false)" @onclick="(e => Theme.ShowWP(false))">
            Color
            @if (!Theme.WPShow)
            {
                <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 0; @Theme.Blur(2)">
                    Current
                </div>
            }
            <div class="wpText">
                @Theme.DesktopBackground
            </div>
        </div>
    </div>
</div>

@code {
    UnsplashManager manager = new();

    protected override void OnInitialized()
    {
        GetUnsplash();
    }

    void SetWP(string src)
    {
        Theme.ShowWP(true);
        Theme.Wallpaper = src;
        WM.PropChanged(WM.DM);
        Console.WriteLine(src);
        //base.StateHasChanged();
    }

    async void GetUnsplash()
    {
        await manager.GetImages();
        StateHasChanged();
    }

}