﻿@page "/breakout"
@using DesktopMode.Components.Apps.Blazeout.Models

<style>
    .archBody {
        /*border: 2px solid orange;*/
        /*position: absolute;*/
        width: 100%;
        height: 100%;
        /*top:0;
        left:0;*/
        position:relative;
        background-color:forestgreen;
    }

    .playArea {
        position: relative;
        width: 100%;
        height: 100%;
        /*bottom: 100px;*/
        top:0;
        left:0;
        /*border:1px dashed yellow;*/
    }

    .interactBox {
        position: absolute;
        background-color: green;
        width: 50px;
        height: 50px;
    }

    .breakBar {
        position: absolute;
        /*width: 50px;*/
        /*height: 5px;*/
        @manager.Bar.CSS();
        left: 45%;
        /*bottom: 200px;*/
        background-color: gray;
        border-radius: 25%;
    }

    .controlPad {
        position: absolute;
        width: 100%;
        height: 100px;
        border: 1px dashed white;
        bottom: 0;
    }

    .ball {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
    }

    .cellGrid {
        position: relative;
        width: 100%;
        /*display: grid;
        grid-template-columns: repeat(12, auto);
        grid-gap: 1px;*/
    }

    .cell {
        position:absolute;
        /*width: 25px;*/
        /*height: 10px;*/
        /*background-color: cyan;*/
    }

    .gameBody{
        position:relative;
        padding-right: 2px;
        height:100%;
        width:100%;
    }

    .gameArea{
        /*background-color:blue;*/
        position:absolute;
        width:100%;
        height:100%;
    }

    .controlArea{
        position:absolute;
        bottom:0;
        border:1px dashed gray;
        height:200px;
        width:100%;
    }

    .pauseScreen
    {
        position: absolute;
        width: 100%;
        height: 100%;
        border: #0c4128 2px dashed;
        background-color: #1a1e21;
        opacity: 0.5;
        padding: 25%;
        text-align: center;
    }
    .pauseScreen h2
    {
        animation: blinker 1s linear infinite;
    }
    
    @@keyframes blinker {
        50%{
            opacity: 0;
        }
    }

</style>

<div class="gameBody">
    <div class="gameArea">
        @if (manager.Cells != null)
        {
            foreach (Cell cell in manager.Cells)
            {
                <div class="cell" style="@cell.CSS @cell.Color">
                </div>
            }
            <div class="ball" style="@manager.Ball.Position"></div>
            <div class="breakBar" style="@manager.Bar.Position"></div>
        }

        <div class="controlArea" @onclick="manager.Shoot" @onmousemove="manager.MousePos" @onmouseout="manager.Pause" @onmousedown="manager.SpeedUp" @onmouseup="manager.SlowDown">
            @* Speed: @am.direction<br/> *@
            Bar vel: @manager.Bar.Velocity<br/>
            Ball angle: @manager.Ball.Angle<br/>
            @* Ball xvel: @am.Ball.XVelocity<br/> *@
            @* Ball yvel: @am.Ball.YVelocity<br/> *@
        </div>
        @if (manager.GameOver)
        {
            <div class="pauseScreen" @onclick="manager.Start">
                <h1>GAME OVER!</h1>
                <h1>Score: @manager.Score</h1>
                <br/>
                <h2>Click to start again</h2>
            </div>
        }
        else if (!WM.Lock && manager.Cells != null)
        {
            <div class="pauseScreen" @onclick="manager.UnPause">
                <h1>PAUSED</h1>
                <br/>
                <h2>Click to continue</h2>
            </div>
        }
        else if (!WM.Lock)
        {
            <div class="pauseScreen" @onclick="manager.Start">
                <h1>BREAKOUT</h1>
                <br/>
                <h2>Click to start game</h2>
            </div>
        }
    </div>
</div>

@*<div class="game-container">*@
@*<div class="archBody">
        <div class="playArea">
            @if (am.Cells != null)
            {
                foreach (Cell cell in am.Cells)
                {
                    <div class="cell" style="@cell.CSS @cell.Color"></div>
                }
            }
            <div class="ball" style="@am.Ball.Position"></div>
            <div class="breakBar" style="@am.Bar.Position"></div>
        </div>
        <div class="controlPad" @onmouseup="am.Start" @onmousemove="am.MousePos">

        </div>
        <div class="scoreBox">
            <h3>
                @am.Score.ToString()
            </h3>
        </div>
    </div>*@
@*</div>*@

@code {
    BreakoutManager manager;

    [Parameter]
    public DesktopWindow win { get; set; }

    protected override void OnInitialized()
    {
        if (win == null)
            win = new BreakoutWindow();
        manager = new BreakoutManager(win);
        manager.PropertyChanged += (o, e) => StateHasChanged();
    }

}