﻿<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <div style="height:100vh;">
        <Error error="ERROR 404"/>
        </div>
        @* <LayoutView Layout="@typeof(MainLayout)"> *@
        @*     <p role="alert">Sorry, there's nothing at this address.</p> *@
        @* </LayoutView> *@
    </NotFound>
</Router>
