<style>
    .widgetMain{
        position: relative;
        max-width: 100%;
        max-height: 75%;
        min-width: 300px;
        min-height: 300px;
        /*max-width: 600px;*/
        border-radius: 25px;
        overflow: hidden;
    }
    .widgetMain:hover{
        @hover
    }
    .widgetBlur{
        position: absolute;
        width: 100%;
        height: 100%;
        @Theme.Blur(30)
    }
    .widgetBackground{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 10%;
    }
    .widgetBody{
        position: relative;
        width: 100%;
        height: 100%;
        /*overflow: auto;*/
        /*padding: 25px;*/
    }
    .widgetHeader{
        /*position: absolute;*/
        width: 100%;
        min-height: 5px;
        /*padding-left: 10px;*/
        /*padding-right: 10px;*/
        /*padding-top: 10px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 70%;
        flex-basis: 33%;
    }
    .widgetHeadChild{
        flex-basis: 33%;
        display: none;
        align-items: center;
    }
    .widgetTitle{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .widgetHeader:hover{
        .widgetHeadChild{
            display: flex;
        }
    }
    .widgetBar{
        width: 50%;
        height: 6px;
        background-color: white;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .widgetClose{
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
        border-radius: 50%;
        aspect-ratio: 1;
    }
    .widgetClose:hover{
        cursor: pointer;
        border: white 1px solid;
    }
    .widgetContent{
        position: relative;
        width: 100%;
        max-height: 75vh;
        overflow: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        
    }
    .widgetText{
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
</style>
<div class="widgetMain" style="@css">
    <div class="widgetBody">
        <div class="widgetBlur"></div>
        <div class="widgetBackground"></div>
        <div class="widgetHeader">
            <div style="display: flex; justify-content: space-between; align-items: center;  width: 95%;">
                <div class="widgetHeadChild" style="justify-content: flex-start;">
                    <div class="widgetTitle">@Title</div>
                </div>
                <div class="widgetHeadChild" style="justify-content: center;">
                    @* @if (clicked) *@
                    @* { *@
                    @*     <div class="widgetBarOptions"  @onmouseleave="Click"> *@
                    @*         <div class="widgetOption">Fullscreen</div> *@
                    @*         <div class="widgetOption">Shade</div> *@
                    @*     </div> *@
                    @* } *@
                    @if (Applet != null)
                    {
                        <a class="widgetBar" href="@Applet.Name"></a>
                    }
                    else
                    {
                        <div class="widgetBar" @onclick="Click"></div>
                    }
                </div>
                <div class="widgetHeadChild" style="justify-content: flex-end;">
                    <div class="widgetClose" @onclick="Close">
                        x
                    </div>
                </div>
            </div>
        </div>
        <div class="widgetContent">
            @if (Applet.App != null)
            {
                <DynamicComponent Type="Applet.App" Parameters="Applet.Parameters"/>
            }
            else
            {
                ErrorModel error = new()
                {
                    Error = null,
                    Message = $"Failed to lauch {Applet.Name}",
                    Level = 1
                };
                <ErrorMessage Error="error"/>
                @* <div class="widgetText" style="color:red;"> *@
                @*     <p>Failed to start widget!</p> *@
                @*     <p style="color:white;">Try fullscreen instead?</p> *@
                @* </div> *@
                @* <a href="@Applet.Name"> *@
                @*     <button> *@
                @*         <div style="text-align:center; background-color: #1c1f23;">Fullscreen</div> *@
                @*     </button> *@
                @* </a> *@
                // ErrorManager.NewError($"Failed to start {Applet.Name}", null, 1);
            }
            @if (Text != null)
            {
                <div class="widgetText">@Text</div>
            }
            @if (Error != null)
            {
                <ErrorMessage Error="Error"/>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public DesktopWindow? Applet { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Text { get; set; }

    [Parameter] public ErrorModel? Error { get; set; }

    [Parameter] public string? Position { get; set; }
    [Parameter] public string? Width { get; set; }
    [Parameter] public string? Height { get; set; }
    [Parameter] public string? Color { get; set; }
    [Parameter] public string? Border { get; set; }

    [Parameter] public string? Align { get; set; }

    string css = "";
    string hover = "";

    bool clicked;

    protected override void OnInitialized()
    {
        if (Applet != null)
        {
            // Width = $"width:{Applet.Width}px";
            // Height = $"height;{Applet.Height}px";
            // Width = $"width:100%;";
            // Height = $"max-height:800px;";
            // app = WM.GetApp(Applet.Name);
            Applet.App = WM.GetApp(Applet.Name);
            Title = $"{Applet.Name} {Title}";
            // try
            // {
            //     string name = Applet.App.Name;
            // }
            // catch (Exception e)
            // {
            //     ErrorManager.NewError($"Failed to start {Applet.Name}", e, 1);
            // }
        }

        if (Width != null)
            css += $"{Width};";
        if (Height != null)
            css += $"{Height};";
        if (Color != null)
            css += $"color:{Color};";
        if (Align != null)
            css += $"text-align:{Align};";
        if (Border != null)
            hover += $"border:{Border} 1px solid;";
        if (Position != null)
            css += $"top:0;left:0;";
    }

    void Click()
    {
        clicked = !clicked;
    }

    void Close()
    {
        WM.CloseWindow(Applet);
    }

}