﻿<style>
    .errorBody {
        width: 100%;
        height: 100%;
        position:relative;
    }
    .errorContent{
        position:relative;
        color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
        /*align-items:center;*/
        flex-grow:1;
        padding: 10%;
        height:100%;
    }
    .errorBG {
        position:absolute;
        width: 100%;
        height: 100%;
        background-color: dodgerblue;
    }

    .topText {
        /*font-size: 100%;*/
        /*flex-grow:1;*/
        margin-top:10%;
    }

    .detailedText {
        padding-left:5%;
        /*@Theme.TestBorder*/
    }
    .detailedBox{
        margin-bottom: 10%;
        display: flex;
        flex-direction: row;
        align-items:baseline;
    }
    .qrCode{
    }
</style>

<div class="errorBody">
    <div class="errorBG"></div>
    <div class="errorContent">
        <div class="topText" style="@Font(0.2)">
            :(
        </div>
        <div class="mainText" style="@Font(0.1)">
            @error
        </div>
        <div class="detailedBox">
            <div class="qrCode" style="@QR()">
                <img src="assets/qr.png" style="width:100%;" @*@onclick="RickRoll"*@/>
            </div>
            <div class="detailedText" style="@Font(0.03)">@detailed</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? error { get; set; }

    string? detailed { get; set; } = "";

    [Parameter]
    public DesktopWindow? Win { get; set; }

    // void RickRoll()
    // {
    //     DesktopWindow win = WM.Windows.Where(w => w.Name.ToLower() == "roll").FirstOrDefault();
    //     WM.LaunchApp(win);
    // }

    protected override void OnInitialized()
    {
        if (Win is not null)
            detailed = Win.Error;
        else
            detailed = "No such page exists!";
    }

    string QR()
    {
        if(Win is not null)
            return $"{Theme.Width((int)(Win.Height * 0.2))}";
        return $"width: 20vh;";
    }

    string Font(double i)
    {
        if(Win != null)
            return $"font-size: {(int)Win.Height*i}px;";
        Console.WriteLine("test");
        // return "font-size:20vh;";
        return $"font-size:{100*i}vh;";
    }
}
