<style>
    .winbtnBody {
        display:flex;
        /*flex-basis: 33%;*/
        /*justify-content:center;*/
        /*align-items:center;*/
        /*padding: 5px 0 0 5px;*/
        /*flex: 1;*/
        height: 100%;
        /*border: 1px blue dashed;*/
        /*aspect-ratio: 1;*/
    }
    .winBtn{
        aspect-ratio: 1;
        border-radius: 50%;
        align-self: center;
        /*margin-right: 5%;*/
        /*margin-left: 5%;*/
        /*vertical-align: middle;*/
        /*flex: 1;*/
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:transparent;
         opacity: 0.8;
    }
    .btnTxt{
        display: none;
        justify-content: center;
        align-items: center;
    }
    .winBtn:hover .btnTxt{
        display: flex;
    }
</style>

<div class="winbtnBody" @onclick="Action">
    <div class="winBtn" style="@CSS()">
        <div class="btnTxt" style="@style">
            <img src="@src" style="height: 60%; width: 60%;"/>
        </div>
    </div>
</div>

@code {
    [Parameter] public DesktopWindow Win { get; set; }
    [Parameter] public string Btn { get; set; }
    string src = "assets/windowbtns/";
    string style = "";

    void Action()
    {
        switch (Btn.ToLower())
        {
            case "x":
                WM.CloseWindow(Win);
                break;
            case "v":
                Win.Maximize();
                break;
            case "^":
                Win.Maximize();
                break;
            case "_":
                Win.Minimize();
                break;
            case "~":
                Win.Shade();
                if (Win.IsShaded)
                    style = "transform:rotate(180deg);";
                else
                    style = "";
                break;
            case "y":
                Win.YeetAble = !Win.YeetAble;
                Win.Settle(0,0);
                if (!Win.YeetAble)
                    style = "display:flex;";
                else
                    style = "";
                break;
        }

        // WM.CloseWindow(Win);
        WM.PropChanged(Win);
    }

    string CSS()
    {
        string def = "#272727";
        if (!Win.IsDragging && !Win.IsActive && !ScaleCheck())
            return $"{Theme.MiscBG(Theme.BG)}";
        switch (Btn)
        {
            case "x":
                src = "assets/windowbtns/close.png";
                return Theme.MiscBG("red");
            case "v":
                src = "assets/windowbtns/maximize.png";
                return Theme.MiscBG("green");
            case "^":
                src = "assets/windowbtns/maximize.png";
                return Theme.MiscBG("green");
            case "_":
                src = "assets/windowbtns/minimize.png";
                return Theme.MiscBG("yellow");
            case "~":
                src = "assets/windowbtns/shade.png";
                return Theme.MiscBG("#004878");
            case "y":
                if (!Win.YeetAble)
                    style = "display:flex;";
                else
                    style = "";
                src = "assets/windowbtns/pin.png";
                return Theme.MiscBG("#7f0072");
            default:
                src = "assets/windowbtns/close.png";
                return $"{Theme.Border(2, 2, def, "solid")} color: {def};";
        }
    }

    bool ScaleCheck()
    {
        if (WM.scalingXL || WM.scalingXR || WM.scalingYB || WM.scalingYT)
            return true;
        else
            return false;
    }

}