﻿<style>
    .winBody {
    @Theme.Foreground(Theme.FG) position: relative;
        overflow: hidden;
    @minWidth
    }

        .winBody:hover {
            overflow: auto;
        }

    .winBG {
    @Theme.WinBG() @Theme.Opacity(Theme.BodyOp) position:absolute;
    @minWidth
    }

    .winBlur {
        position: absolute;
    @Theme.Blur(Theme.BodyBlur) @minWidth
    }
</style>

<div class="winBlur" style="width:100%;height:100%;">
</div>
<div class="winBG" style="width:100%;height:100%;">
</div>
<div class="winBody" style="width:100%;height:100%;">

    @if (GetApp() != null)
    {

        <DynamicComponent Type="App" Parameters="win.Parameters" />
    }
    else
    {
        <Error error="Whoopsie daisy, seems like the app doesn't exist" Win="win" />
    }
    <!-- A really bad and ugly solution, but it works for now -->
    @*@switch (win)
    {
    case HelpWindow:
    <Tooltip />
    break;
    case ProjectsWindow:
    <Projects />
    break;
    case SettingsWindow:
    <Settings />
    break;
    case AboutWindow:
    <AboutMe />
    break;
    case SkillsWindow:
    <Skills />
    break;
    case BreakoutWindow:
    <BreakComp />
    break;
    case TodoWindow:
    <TodoComp />
    break;
    case MemoryWindow:
    <MemoryComp />
    break;
    case WebWindow:
    <WebBrowser />
    break;
    case BBWindow:
    <BlazyBird win="@win" />
    break;
    default:
    break;
    }*@
</div>
@code {
    [Parameter]
    public DesktopWindow win { get; set; }

    private string minWidth = $"min-width:{WM.minWidth}px;";
    private string minHeight = $"min-height:{WM.minHeight}px;";

    private Type App;
    private Type GetApp()
    {
        //return Assembly.GetExecutingAssembly().GetTypes().Where(t => t.Name.ToUpper() == win.Name.ToUpper()).FirstOrDefault();
        return App = WM.Apps.Where(a => a.Name.ToLower() == win.Name.ToLower()).FirstOrDefault();
    }
}
