﻿<style>

    .window {
        @position
        /*border-left: @Theme.SideBorder+"px" solid @Theme.Accent;*/
        /*border-right: @Theme.SideBorder+"px" solid @Theme.Accent;*/
        /*border-top: @Theme.TipBorder+"px" solid @Theme.Accent;*/
        /*border-bottom: @Theme.TipBorder+"px" solid @Theme.Accent;*/
        @*@Theme.Border(Theme.SideBorder, Theme.TipBorder, Theme.Accent, "solid")
        @Theme.Corners()
        @Theme.Foreground(Theme.FG)*@
        /*max-width: 100%;*/
        /*max-height: 100%;*/
        /*overflow:hidden;*/
        @minWidth
        @Theme.MinHeight()
        /*minHeight*/
    }
    
    .winMain{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        @Theme.Border(Theme.SideBorder, Theme.TipBorder, Theme.Accent, "solid")
        @Theme.Corners()
        @Theme.Foreground(Theme.FG)
        
    }

    .winContent {
        @Theme.Foreground(Theme.FG)
        position: relative;
        overflow:hidden;
        /*padding-bottom:10px;*/
        /*padding: 5px;*/
        @minWidth
    }
    .winContent:hover{
        overflow:auto;
    }

    .winBG {
        @Theme.WinBG()
        @Theme.Opacity(Theme.BodyOp)
        position:absolute;
        width: 100%;
        height: 100%;
        @minWidth
    }
    .popBG{
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @Theme.Blur(2)
    }
    .popup {
        position:absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 0;
        left:0;
        /*padding: 50%;*/
        width: 100%;
        height: 100%;
        @Theme.Background(Theme.BG, true)
        @minWidth
    }
    .popMBlr{
        position: absolute;
        height: 50px;
        width: 120px;
        @Theme.Blur(2)
    }
    .popMBG{
        position: absolute;
        height: 50px;
        width: 120px;
        /*border: 1px dashed #5c636a;*/
        @Theme.Background(Theme.BG, false)
        @Theme.Opacity(Theme.BodyOp)
        @Theme.Corners()
    }
    .popMsg{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 50px;
        width: 120px;
        border: 1px dashed #5c636a;
        @Theme.Corners()
        /*border: 1px dashed #5c636a;*/
    }
    
    .winBody{
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        @pad
    }

    .winBlur {
        position: absolute;
        width: 100%;
        height: 100%;
        @Theme.Blur(Theme.BodyBlur) 
        @minWidth
    }

    .scaleX {
        position: absolute;
        top: @top;
        height: 100%;
        width: 5px;
        cursor: ew-resize;
    }

    .scaleY {
        position: absolute;
        left: 0;
        height: 5px;
        width: 100%;
        cursor: ns-resize;
        /*border:2px black solid;*/
    }
    /*.scaleX:hover, .scaleXY:hover, .scaleY:hover{*/
    /*    background-color:yellow;*/
    /*    opacity:0.08;*/
    /*}*/

    .scaleXYL {
        position: absolute;
        width: 5px;
        aspect-ratio: 1;
        cursor: nesw-resize;
    }
    .scaleXYR {
        position: absolute;
        width: 5px;
        aspect-ratio: 1;
        cursor: nwse-resize;
    }
    
    .parachuteMain{
        position: absolute;
        bottom: 99%;
        width: 100%;
        aspect-ratio: 1;
        /*height: 200px;*/
        /*border-top-right-radius: 50%;*/
        /*border-top-left-radius: 50%;*/
    }
    .parachute{
        position: relative;
        /*border-top: 10px black solid;*/
        overflow: hidden;
        width: 100%;
        height: 50%;
        /*border-radius: 50%;*/
        
    }
    .parBody{
        position: relative;
        width: 100%;
        height: 200%;
        border: 5px solid black;
        border-radius: 50%;
        background-color: white;
    }
    .parRope{
        position: absolute;
        width: 70%;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        top: 0px;
        bottom: 0;
        margin-bottom: auto;
        margin-top: auto;
        aspect-ratio: 1;
        transform: rotate(45deg);
        border: 5px solid black;
    }
    
    .winTracker{
        position: absolute;
        width: 75px;
        aspect-ratio: 1;
        color: white;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-color: #1c1f23;
        border: 2px solid #1b6ec2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="window" style="@win.Position() @win.Scale()" @onmouseover="(e => WM.SelectWindow(win))" @onmouseout="WM.DeselectWindow">
    @if (win.Parachute)
    {
        <div class="parachuteMain" @onclick="CutChute">
            <div class="parRope">
                
            </div>
            <div class="parachute">
                <div class="parBody">

                </div>
                <div style="position: absolute; bottom: 0; width: 100%; border-top: black 5px solid;"></div>
            </div>
        </div>
    }
    @{
        pad = $"padding-bottom:{Theme.HeaderHeight}px;";
    }
    <div class="winMain">

        <WinHeader win="win"/>

        <div class="winBody">
            <div class="winBlur">
            </div>
            <div class="winBG">
            </div>
            <div class="winContent" style="width:100%;height:100%;">

                @if (win.App != null)
                {
                    <DynamicComponent Type="win.App" Parameters="win.Parameters"/>
                }
                else
                {
                    <Error error="Whoopsie daisy, seems like the app doesn't exist" Win="win"/>
                }
                @* @if (WM.window == win) *@
                @* { *@
                @* } *@
            </div>
            @if (WM.window == win && (WM.scalingXL || WM.scalingXR || WM.scalingYB || WM.scalingYT))
            {
                Console.WriteLine("scaling");
                <div class="popBG"></div>
                <div class="popup">
                    <div class="popMBlr"></div>
                    <div class="popMBG"></div>
                    <div class="popMsg">
                        @win.Width x @win.Height
                    </div>
                </div>
            }
        </div>
        @if (!win.IsShaded)
        {
            <div class="scaleX" style="right:0;" @onmousedown="ScaleXR" @onmouseup="WM.Release"></div>
            <div class="scaleX" style="left:0;" @onmousedown="ScaleXL" @onmouseup="WM.Release"></div>
            <div class="scaleY" style="top:0;" @onmousedown="ScaleYT" @onmouseup="WM.Release"></div>
            <div class="scaleY" style="bottom:0;" @onmousedown="ScaleYB" @onmouseup="WM.Release"></div>
            <div class="scaleXYR" style="bottom:0;right:0;" @onmousedown="ScaleCBR" @onmouseup="WM.Release"></div>
            <div class="scaleXYL" style="bottom:0;left:0;" @onmousedown="ScaleCBL" @onmouseup="WM.Release"></div>
            <div class="scaleXYL" style="top:0;right:0;" @onmousedown="ScaleCTR" @onmouseup="WM.Release"></div>
            <div class="scaleXYR" style="top:0;left:0;" @onmousedown="ScaleCTL" @onmouseup="WM.Release"></div>
        }
    </div>
    @if (win.YPosition + win.Height < 0)
    {
        string pos = $"top:{-win.YPosition + 200}px;";
        <div class="winTracker" style="@pos">
            @win.YPosition
        </div>
    }
</div>

@code {
    [Parameter] public DesktopWindow win { get; set; }

    [Parameter] public DesktopManager? dm { get; set; }

    [Parameter] public string position { get; set; } = "position: absolute;";

    private string minWidth = $"min-width:{WM.minWidth}px;";

    //private string minHeight = $"min-height:{WM.minHeight}px;";
    private Type? App;
    private string top = $"{Theme.HeaderHeight}px";
    private string width = $"";
    private string font = $"font-size: {Theme.HeaderHeight * 3}px;";
    private string pad = $"";

    //private Type GetApp()
    //{
    //    //return Assembly.GetExecutingAssembly().GetTypes().Where(t => t.Name.ToUpper() == win.Name.ToUpper()).FirstOrDefault();
    //    return App = WM.Apps.Where(a => a.Name.ToLower() == win.Name.ToLower()).FirstOrDefault();
    //}

    void Close()
    {
        WM.CloseWindow(win);
        WM.PropChanged(win);
    }

    void Drag()
    {
        WM.DM.ExpandBlanket();
        win.IsDragging = true;
    }

    void ScaleXR()
    {
        WM.DM.SetCursor("ew-resize");
        WM.DM.ExpandBlanket();
        WM.scalingXR = true;
    }

    void ScaleXL()
    {
        WM.DM.SetCursor("ew-resize");
        WM.DM.ExpandBlanket();
        WM.scalingXL = true;
    }

    void ScaleYT()
    {
        WM.DM.SetCursor("ns-resize");
        WM.DM.ExpandBlanket();
        WM.scalingYT = true;
    }

    void ScaleYB()
    {
        WM.DM.SetCursor("ns-resize");
        WM.DM.ExpandBlanket();
        WM.scalingYB = true;
    }

    void ScaleCBR()
    {
        WM.DM.SetCursor("nwse-resize");
        WM.DM.ExpandBlanket();
        WM.scalingYB = true;
        WM.scalingXR = true;
    }

    void ScaleCBL()
    {
        WM.DM.SetCursor("nesw-resize");
        WM.DM.ExpandBlanket();
        WM.scalingYB = true;
        WM.scalingXL = true;
    }

    void ScaleCTR()
    {
        WM.DM.SetCursor("nesw-resize");
        WM.DM.ExpandBlanket();
        WM.scalingYT = true;
        WM.scalingXR = true;
    }

    void ScaleCTL()
    {
        WM.DM.SetCursor("nwse-resize");
        WM.DM.ExpandBlanket();
        WM.scalingYT = true;
        WM.scalingXL = true;
    }

    void Lock()
    {
    }

    void CutChute()
    {
        win.Parachute = false;
        win.MaxQ = false;
    }

    protected override void OnInitialized()
    {
        if (win.Parameters.ContainsKey("win"))
        {
            Console.WriteLine("win");
            win.Parameters.Remove("win");
            win.Parameters.Add("win", win);
        }

        width = $"width:{win.Width - Theme.HeaderHeight * 3}px;";
        App = WM.GetApp(win.Name);
        win.App = App;
        //win.CurWidth = win.Width;
    }

}