﻿<style>
    .header {
            position: relative;
            width: 100%;
            display: flex;
            vertical-align: middle;
            /*align-items: center;*/
            justify-content: center;
            flex-direction: row;
            @Theme.Thickness()
        }
    
        .headBG {
            @Theme.WinAccBG();
            width:100%;
            @Theme.Thickness()
            @Theme.Opacity(Theme.HeadOp)
            position:absolute;
        }
    
        .headBlur {
            @Theme.Blur(Theme.HeaderBlur)
            position:absolute;
            width:100%;
            @Theme.Thickness()
        }
    
        .winTitle {
            flex-grow: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @font 
            @Theme.TextAlign()
        }
    
        .icon{
            height:100%;
            left:0;
            float:left;
            aspect-ratio:1;
            display:flex;
            justify-content:center;
            align-items:center;
            vertical-align:middle;
        }
    
        .buttons {
            /*position: absolute;*/
            height: 100%;
            /*right: 0;*/
            display:flex;
            flex-direction:row;
            gap:5px;
            /*margin: 5px;*/
            margin-right: 5px;
            margin-left: 5px;
            vertical-align: middle;
            justify-content: center;
            align-items: center;
            /*border: 2px solid maroon;*/
            /*cursor: pointer;*/
        }
</style>

@{
    string color = "black";
    //width = $"width:{ win.CurWidth - Theme.HeaderHeight * 4 }px;";
    //width = $"padding-right:{ Theme.HeaderHeight * 3 }px; padding-left: {Theme.HeaderHeight}px;width:{win.CurWidth - 10}px; position:absolute;";
    width = $"{win.CurWidth}position:absolute;";
    font = $"font-size: {Theme.HeaderHeight / 2}px;";
}
@if (win.IsActive)
{
    color = "white";
}
<div class="headBlur">
</div>
<div class="headBG">
</div>
<div class="header" @onwheel="(e => WM.ShadeWindow(win))">

    <!--TODO: Two "window widgets" either side with customizable buttons-->

    @* <div class="icon" @onclick="win.Raise"> *@
    @*     <img src="@win.Icon" style="height:50%;"/> *@
    @* </div> *@
    <div class="buttons">
        <img src="@win.Icon" style="height:50%;"/>
        @* <NewBtn Win="win" Btn="+"/> *@
        @* <NewBtn Win="win" Btn="-"/> *@
        @* <NewBtn Win="win" Btn="!"/> *@
        <NewBtn Win="win" Btn="~"/>
        <NewBtn Win="win" Btn="y"/>
    </div>
    @* <div class="winTitle" @onmousedown="WM.DragWindow" @onmouseup="WM.Release" style="color:@color;@width"> *@
    <div class="winTitle" @onmousedown="WM.DragWindow" @onmouseup="WM.Release" @oncontextmenu="Pin" @oncontextmenu:preventDefault="true">
        @win.Name @win.Status
    </div>
    <div class="buttons">
        <NewBtn Win="win" Btn="_"/>
        @if (win.IsMaxed)
        {
            <NewBtn Win="win" Btn="v"/>
        }
        else
        {
            <NewBtn Win="win" Btn="^"/>
        }
        <NewBtn Win="win" Btn="x"/>
    </div>
</div>
@* <div class="headBlur"> *@
@* </div> *@
@* <div class="headBG"> *@
@* </div> *@
@* <div class="header" @onwheel="Shade"> *@
@*     <div class="icon"> *@
@*         <img src="@win.Icon" style="height:50%;" /> *@
@*     </div> *@
@*     <div class="winTitle" @onmousedown="WM.DragWindow" @onmouseup="WM.Release" style="color:@color;@width"> *@
@*         <p>@win.Name</p> *@
@*     </div> *@
@*     <div class="buttons"> *@
@*         $1$<div style="height:100%; aspect-ratio:1;@Theme.TestBorder" @onclick="win.Maximize"> ^ </div>#1# *@
@*         <MinBtn Win="win" /> *@
@*         <MaxBtn Win="win" /> *@
@*         <CloseBtn Win="win" /> *@
@*     </div> *@
@* </div> *@

@code {
    [Parameter] public DesktopWindow win { get; set; }

    string width;
    string font = $"font-size: {Theme.HeaderHeight * 3}px;";
    private string minWidth = $"min-width:{WM.minWidth}px;";
    private string minHeight = $"min-height:{WM.minHeight}px;";

    void Shade()
    {
        win.IsShaded = !win.IsShaded;
        WM.PropChanged(win);
    }

    void Pin()
    {
        win.YeetAble = !win.YeetAble;
        win.Settle(0,0);
        WM.PropChanged(win);
    }

}