@page "/calendar"
@using DesktopMode.Components.Apps.Calendar.Models
<style>
    /*.calendarMain{*/
    /*    position: relative;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    overflow: hidden;*/
    /*}*/
    /*.calendarBlur{*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*}*/
    /*.calendarBackground{*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    background-color: black;*/
    /*    opacity: 10%;*/
    /*}*/
    .calendarBody{
        position: relative;
        width: 100%;
        min-height: 100%;
        padding: 5px;
        /*background-color: white;*/
    }
    .calendarContent{
        display: flex;
        /*flex-wrap: wrap;*/
        flex-direction: row;
        gap: 5px;
    }
    .calendarBody:hover{
        .calendarWeeks{
            opacity: 60%;
        }
    }
    /*.calendarWeekdays{*/
    /*    position: relative;*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
    /*}*/
    .calendarWeeks{
        opacity: 5%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .calendarWeek{
        font-size:14px;
        flex-basis: 20%;
        width: 20px;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: gray;
        border-radius: 5px;
        border: transparent 1px solid;
    }
    .calendarWeek:hover{
        border:gray 1px solid;
    }
    .calendarGrid{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        /*justify-content: center;*/
        /*align-items: center;*/
        /*height: 100%;*/
    }
    .calendarDayBody{
        position: relative;
        flex-basis: 14%;
        aspect-ratio: 1;
        text-align: center;
        border-radius: 5px;
    }
    .calendarDayBG{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        opacity: 20%;
    }
    .calendarDay{
        aspect-ratio: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    .calendarDay:hover{
        border: 1px solid white;
        
    }
    .calendarExpand{
        position:relative; 
        width: 100%; 
        height: 200px;
        padding: 5px;
        border-top: #191c1f 1px solid;
    }
</style>
@* <div class="calendarMain"> *@
@*     <div class="calendarBlur"></div> *@
@*     <div class="calendarBackground"></div> *@
<div class="calendarBody">
    <h2>@date</h2>
    <div class="calendarContent">
        <div class="calendarWeeks">
            <div style="font-size:8px; flex-basis: 1%; text-align: right; width: 20px;">V</div>
            @for (int i = 0; i < 5; i++)
            {
                int week = dm.Weeks[i];
                <div class="calendarWeek" @onmouseenter="() => SelectWeek(week)" @onmouseleave="() => SelectWeek(0)">@week</div>
            }
        </div>
        <div class="calendarGrid">
            @{
                foreach (string day in daysArr)
                {
                    <div style="font-size:8px; flex-basis: 14%; text-align: center;">@day</div>
                }

                for (int i = 1; i < days.First().WeekDay ; i++)
                {
                    <div class="calendarDayBody">
                        <div class="calendarDayBG"></div>
                        <div class="calendarDay"></div>
                    </div>
                }

                foreach (DayModel i in days)
                {
                    string body = "";
                    string css = "";
                    string color = "";
                    if (i.WeekDay == 6 || i.WeekDay == 0)
                    {
                        color += "color: darkred;";
                    }

                    if (i.Day == DateTime.Today.Day)
                    {
                        css += "background-color:gray;";
                    }

                    if (i.Week == selectedWeek)
                    {
                        css += "background-color: black;";
                        if(i.WeekDay == 0 || i == days.Last())
                            css += "border-radius:0;border-bottom-right-radius: 5px;border-top-right-radius: 5px;";
                        else if (i.WeekDay == 1 || i == days.First())
                            css += "border-radius:0;border-bottom-left-radius: 5px;border-top-left-radius: 5px;";
                        else
                            css += "border-radius:0;";
                    }

                    if (i.Day == selectedDay)
                    {
                        css += "border:1px gray dashed;";
                    }

                    <div class="calendarDayBody" style="@body">
                        <div class="calendarDayBG" style="@css"></div>
                        <div class="calendarDay" @onclick="() => Expand(i.Day)" style="@color">@i.Day</div>
                    </div>
                }
            }
        </div>
    </div>
    @if (exp)
    {
        <div class="calendarExpand">
            Events
        </div>
    }
</div>
@* </div> *@

@code {
    DateManager dm;
    List<DayModel> days = new();
    int selectedDay = 0;
    int selectedWeek = 0;
    string selectedColor = "black";
    int wD = 5;
    string date = @DateTime.Now.ToString("dd MMMM yyyy");
    string[] daysArr = new[] { "MÅN", "TIS", "ONS", "TOR", "FRE", "LÖR", "SÖN" };
    bool exp;

    void Expand(int day)
    {
        date = $"{day} {DateTime.Now.ToString($" MMMM yyyy")}";
        if (day < 10)
            date = $"0{date}";
        exp = !exp;
        selectedDay = day;
    }

    void SelectWeek(int week)
    {
        if (week == selectedWeek)
            selectedWeek = 0;
        else
            selectedWeek = week;
    }

    protected override void OnInitialized()
    {
        dm = new();
        days = dm.Days;
    }

}