@using DesktopMode.Components.Apps.GitGet.Models
@page "/gitupdater"
<style>
    .gitMain{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
         @Theme.Foreground(Theme.FG)
    }
    .gitBody{
        width: 100%;
        height: 100%;
        padding: 5px;
    }
    .gitHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }
    .gitContent{
        flex-grow: 1;
        width: 100%;
    }
    
    .gitRelBody{
        border-top: 2px solid mediumpurple;
        border-bottom: 2px solid mediumpurple;
        border-radius: 5px;
        margin-top: 25px;
        padding: 5px;
    }
    .gitRelBody:hover{
        border: 2px solid mediumpurple;
    }
    .gitRelDesc{
        white-space: pre-line; 
        border: 1px solid dimgray;
        border-radius: 5px;;
        padding: 10px;
    }
    .gitAssBody{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .gitAssBody:hover{
        background-color: #141619;
    }
</style>

<div class="gitMain">
    <div class="gitBody">
        <div class="gitHeader">
            <input type="text" style="flex-grow: 1;background-color: transparent; @Theme.Foreground(Theme.FG)" placeholder="Enter url here" @bind="url"/> <button @onclick="Check">Check</button>
        </div>
        <div class="gitContent">
            <div style="text-align: center;">@title</div>
            @if (rm._releases != null)
            {
                @* <img src="@rm._releases[0].Author.Avurl()" style="width: 50px; border-radius: 25px; border: 1px solid dimgray;"/> *@
                <h3>Releases</h3>
                @foreach (var release in rm._releases)
                {
                    <div class="gitRelBody">
                        <div class="gitRelTitle">
                            <h2>@release.Tag</h2>
                        </div>
                        <div class="gitRelDesc" style="">
                            @release.Description
                        </div>
                        <div class="gitRelAssets">
                            @foreach (GitAsset asset in release.Assets)
                            {
                                <div class="gitAssBody">
                                    <a href="@asset.Download">
                                        <div class="gitDl">DL </div>
                                    </a>
                                    <div style="flex-grow: 1;padding-left: 5px;">@asset.Name</div>
                                    <div>@asset.Size()</div>
                                </div>
                            }
                        </div>

                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    ReleaseManager rm;
    string url = "";
    List<ReleaseModel> releases = new();
    string title = "Enter user/repo";


    protected override void OnInitialized()
    {
        rm = new ReleaseManager();
    }

    async void Check()
    {
        title = await rm.CheckUpdates(url);
        releases = rm.Releases();
        Console.WriteLine(rm._releases.Count + "test" + rm.Releases().Count);
        StateHasChanged();
    }

}